
$woodTile: "gameAssetsOfficial/wood1.png";
$sheepTile: "gameAssetsOfficial/sheep1.png";
$wheatTile: "gameAssetsOfficial/wheat1.png";
$oreTile: "gameAssetsOfficial/ore1.png";
$brickTile: "gameAssetsOfficial/brick1.png";
$desertTile: "gameAssetsOfficial/desert1.png";


/* html elements needed to convert
tagname /</label 
            //(<input type="checkbox")
            // <div class .card in 
                which 2 divs are nested
                    <.front 
                    <.back
*/
 

.tileContainer {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display:block;
/*     width: 118px;
    height: 170px; */
/*     position: absolute;
 */    left: 0px;
    top: 0px;
/*     -webkit-transform: translate(-50%, -50%);
/*      transform: translate(-50%, -50%);
 */    cursor: pointer;
    z-index: 1;
}

.tileFlip {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 1;
}

    .tileFlip div {
        position: absolute;
        background: transparent;
        color: rgb(250, 139, 139);
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: none;
        z-index: 1;
    }
/* since we want 
rename appropriately the 19 elements
corresponding to the back of the tile
 */
    .tileFlip .back {
        
        background-repeat: no-repeat;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        z-index: 1;
    }

    .tilePlaceholder:hover {
    background-size: 0%;
    /* considering a little zoom fx on hover */
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,0.2);
    z-index: 1;
    }

#tileBox {
    display: none;
    z-index:1;
}

.tilePlaceholder:checked {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    z-index:1;
}

.tileContainer:hover :checked + .tileFlip {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
    z-index: 1;
}