.hexNumbers #nA {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 490px;
  top: 90px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nB {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 650px;
  top: 90px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nC {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 801px;
  top: 90px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nD {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 413px;
  top: 230px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nE {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 567px;
  top: 230px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nF {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 722px;
  top: 230px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nG {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 879px;
  top: 230px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nH {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 330px;
  top: 360px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nI {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 490px;
  top: 360px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nJ {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 650px;
  top: 360px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nK {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 801px;
  top: 360px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nL {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 960px;
  top: 360px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nM {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 413px;
  top: 490px;
  width: 69px;
  height: 69px;
  z-index: 500;
  border: none;
}

.hexNumbers #nN {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 567px;
  top: 490px;
  width: 69px;
  height: 69px;
  z-index: 500;
  border: none;
}

.hexNumbers #nO {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 722px;
  top: 490px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nP {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 879px;
  top: 490px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nQ {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 490px;
  top: 610px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nR {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 650px;
  top: 610px;
  width: 69px;
  height: 69px;
  z-index: 500;
}

.hexNumbers #nS {
  background-color: grey;
  background-repeat: no-repeat;
  position: absolute;
  left: 801px;
  top: 610px;
  width: 69px;
  height: 69px;
  z-index: 500;
}
/*# sourceMappingURL=hexNumbers.css.map */