.hexNumbers #n2 {
  background-image: url("gameAssetsOfficial/n2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 632px;
  top: 250px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n3_1 {
  background-image: url("gameAssetsOfficial/n3_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 635px;
  top: 257px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n3_2 {
  background-image: url("gameAssetsOfficial/n3_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 635px;
  top: 265px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n4_1 {
  background-image: url("gameAssetsOfficial/n4_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 637px;
  top: 272px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n4_2 {
  background-image: url("gameAssetsOfficial/n4_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 639px;
  top: 283px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n5_1 {
  background-image: url("gameAssetsOfficial/n5_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 639px;
  top: 290px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n5_2 {
  background-image: url("gameAssetsOfficial/n5_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 639px;
  top: 299px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n6_1 {
  background-image: url("gameAssetsOfficial/n6_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 644px;
  top: 301px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n6_2 {
  background-image: url("gameAssetsOfficial/n6_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 644px;
  top: 305px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n8_1 {
  background-image: url("gameAssetsOfficial/n8_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 639px;
  top: 305px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n8_2 {
  background-image: url("gameAssetsOfficial/n8_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 642px;
  top: 314px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n9_1 {
  background-image: url("gameAssetsOfficial/n9_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 637px;
  top: 314px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n9_2 {
  background-image: url("gameAssetsOfficial/n9_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 639px;
  top: 321px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n10_1 {
  background-image: url("gameAssetsOfficial/n10_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 639px;
  top: 328px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n10_2 {
  background-image: url("gameAssetsOfficial/n10_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 638px;
  top: 332px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n11_1 {
  background-image: url("gameAssetsOfficial/n11_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 641px;
  top: 334px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n11_2 {
  background-image: url("gameAssetsOfficial/n11_2.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 641px;
  top: 341px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
}

.hexNumbers #n12 {
  background-image: url("gameAssetsOfficial/n12.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 641px;
  top: 347px;
  width: 69px;
  min-height: 69px;
  z-index: 50;
  border: none;
}
/*# sourceMappingURL=hexNumbers.css.map */