

/* z-index for road,city and settlement assets */
$setZ: 402; /* for cosmetic purposes only: placed settlements above cities */
$cityZ: 401;
$rodZ: 400; /* roads look best when placed an index under the other pawns */

$seventy: 75px;
$fiftyfour: 57px;
$fiftyseven: 57px;
$nineteen: 19px;
/* $setHeight: 57px;
 */
 $setWidth:       $fiftyseven; /* valuename=pixels */
 $citHeight:      $seventy;
 $citWidth:       $fiftyseven;
 $roadVertHeight: $nineteen;
 $roadVertWidth:  $seventy;
  

/* city placeholder asset*/
$cityTemplatePawn: "gameAssetsOfficial/cityTemplatePawn.png";
/* settlement pawn asset*/
$settlementTemplatePawn: "gameAssetsOfficial/settlementTemplatePawn.png";
/* 3 different road assets (vertical and both slopes) */
$roadTemplatePawnVert: "gameAssetsOfficial/roadTemplatePawnVert.png";
$roadTemplatePawn-hL-lR: "gameAssetsOfficial/roadTemplatePawn-hL-lR.png";
$roadTemplatePawn-lL-hR: "gameAssetsOfficial/roadTemplatePawn-lL-hR.png";

/* testingInterface should always be highest */
$testingInterface: 1500;


  

.allPawnsPhParent {
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 0px;
    opacity:80%;
    z-index: $setZ

  } 

  /* allPawnsPhParent */
  
  /* Below: Height of placeholder pawns
  Height is measured from top */
  $fLow: 682px;
  /* subtract 30px; */
  $fHigh: 652px;
  /* subtract 10px; */
  
  $eLow: 562px;
  /* subtract 40px; */
  $eHigh: 522px;
  /* subtract 10px; */
  
  $dLow: 432px;
  /* subtract 40px; */
  $dHigh: 390px;
  
  /* subtract 10px; */
  $cLow: 303px;
  /* subtract 40px; */
  $cHigh: 265px;
  
  $bLow: 172px; /* expected 255 ?*/
  $bHigh: 124px;
  
  $aLow: 40px; 
  /* subtract 40px; */
  $aHigh: 0px;
  

  .tileContainer {


  .tilePlaceholder {
    background-repeat: no-repeat;

  }
  
  
    #setl_F4 {
    background-repeat: no-repeat;
      
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 382px;
      top: $fLow+10px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_F5 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 465px;
      top: $fHigh + 10px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_F7 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 607px;
      top: $fHigh;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_F6 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 533px;
      top: $fLow+10px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_F1 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 158px;
      top: $fHigh;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_F2 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 226px;
      top: $fLow;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_F3 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 314px;
      top: $fHigh;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #city_F5 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 464px;
      top: $fHigh;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F7 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 610px;
      top: $fHigh;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F6 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 536px;
      top: $fLow;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F1 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 157px;
      top: $fHigh;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F2 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 229px;
      top: $fLow;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F3 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 313px;
      top: $fHigh;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F4 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 385px;
      top: $fLow;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #f7e8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 627px;
      top: 608px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f5e6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 479px;
      top: 608px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f6f7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 571px;
      top: 688px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #f5f6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 490px;
      top: 687px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #f1e2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 172px;
      top: 607px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f2f3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 264px;
      top: 687px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #f1f2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 183px;
      top: 686px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #f3e4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 328px;
      top: 606px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f4f5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 420px;
      top: 686px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #f3f4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 339px;
      top: 685px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #e6e7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 496px;
      top: 559px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #e5e6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 415px;
      top: 558px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #setl_E7 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 547px;
      top: 520px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E9 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 689px;
      top: 520px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E8 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 615px;
      top: 562px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E5 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 390px;
      top: 524px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E6 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 458px;
      top: 566px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E3 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 231px;
      top: 522px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E4 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 299px;
      top: 564px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E1 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 75px;
      top: 522px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_E2 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 143px;
      top: 564px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #city_E7 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 546px;
      top: 505px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E9 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 692px;
      top: 505px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E8 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 618px;
      top: 547px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E5 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 389px;
      top: 509px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E6 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 461px;
      top: 551px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E3 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 230px;
      top: 507px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E4 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 302px;
      top: 549px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E1 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 74px;
      top: 507px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E2 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 146px;
      top: 549px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #e9d10 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 709px;
      top: 475px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e7d8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 561px;
      top: 475px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e8e9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 653px;
      top: 555px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #e7e8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 572px;
      top: 554px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #e5d6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 404px;
      top: 479px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e3d4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 245px;
      top: 477px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e4e5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 337px;
      top: 557px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #e3e4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 256px;
      top: 556px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #e1d2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 89px;
      top: 477px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e2e3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 181px;
      top: 557px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #e1e2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 100px;
      top: 556px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d9d10 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 645px;
      top: 428px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #setl_D1 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 1px;
      top: 390px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D2 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 69px;
      top: 432px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D3 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 152px;
      top: 390px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D4 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 220px;
      top: 432px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D5 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 311px;
      top: 390px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D7 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 470px;
      top: 390px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D8 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 538px;
      top: 432px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D9 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 620px;
      top: 394px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D11 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 762px;
      top: 394px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    } 
    #setl_D10 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 688px;
      top: 436px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_D6 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 379px;
      top: 432px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #city_D1 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 0px;
      top: 375px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D2 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 72px;
      top: 417px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D3 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 151px;
      top: 375px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D4 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 223px;
      top: 417px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D5 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 310px;
      top: 375px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D6 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 382px;
      top: 417px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D7 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 469px;
      top: 375px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D8 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 541px;
      top: 417px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D9 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 619px;
      top: 379px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D11 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 765px;
      top: 379px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_D10 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 691px;
      top: 421px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #d1d2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 26px;
      top: 424px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d1c1 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 15px;
      top: 345px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d2d3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 107px;
      top: 425px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d3c3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 166px;
      top: 345px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d4d5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 258px;
      top: 425px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d3d4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 177px;
      top: 424px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d5c5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 325px;
      top: 345px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d6d7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 417px;
      top: 425px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d5d6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 336px;
      top: 424px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d7c7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 484px;
      top: 345px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d8d9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* lL-hR */
      position: absolute;
      left: 576px;
      top: 425px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d7d8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 495px;
      top: 424px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #d11c11 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 782px;
      top: 349px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d9c9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 634px;
      top: 349px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d10d11 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /*lL-hR*/
      position: absolute;
      left: 726px;
      top: 429px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #setl_C2 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 75px;
      top: 265px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C1 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 1px;
      top: 303px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C4 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 226px;
      top: 265px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C3 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 152px;
      top: 303px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C6 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 385px;
      top: 265px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C5 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 311px;
      top: 303px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C8 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 544px;
      top: 265px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C7 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 470px;
      top: 303px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C10 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 694px;
      top: 269px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C9 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 620px;
      top: 307px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_C11 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 762px;
      top: 307px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #city_C1 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 0px;
      top: 288px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C4 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 225px;
      top: 250px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C3 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 151px;
      top: 288px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C6 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 384px;
      top: 250px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C5 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 310px;
      top: 288px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C8 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 543px;
      top: 250px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C7 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 469px;
      top: 288px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C10 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 693px;
      top: 254px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C9 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 619px;
      top: 292px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C11 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 765px;
      top: 292px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_C2 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 74px;
      top: 250px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #c10b9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 706px;
      top: 212px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #c8b7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 555px;
      top: 210px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c6b5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 399px;
      top: 210px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c4b3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 242px;
      top: 210px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c2b1 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 96px;
      top: 214px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c1c2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 25px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c2c3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 103px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c3c4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 176px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c4c5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 254px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c5c6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 335px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c6c7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 413px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c7c8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 494px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c8c9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 572px;
      top: 298px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c9c10 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 644px;
      top: 302px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #c10c11 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 722px;
      top: 302px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #setl_B9 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 688px;
      top: 172px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B8 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 605px;
      top: 124px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B7 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 531px;
      top: 166px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B6 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 459px;
      top: 130px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B5 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 385px;
      top: 168px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B4 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 302px;
      top: 130px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B3 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 228px;
      top: 168px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B2 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 156px;
      top: 134px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_B1 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 82px;
      top: 172px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #city_B8 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 608px;
      top: 109px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B7 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 534px;
      top: 151px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B9 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 689px;
      top: 155px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B6 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 459px;
      top: 115px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B5 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 384px;
      top: 153px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B4 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 302px;
      top: 115px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B3 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 227px;
      top: 153px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B2 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 155px;
      top: 119px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_B1 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 81px;
      top: 157px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #b8a7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 625px;
      top: 79px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b2a1 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 173px;
      top: 79px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b4a3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 327px;
      top: 81px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b6a5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 477px;
      top: 79px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b7b8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 565px;
      top: 163px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #b8b9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 643px;
      top: 163px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #b5b6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 409px;
      top: 163px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #b6b7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 487px;
      top: 163px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #b3b4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 252px;
      top: 163px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #b4b5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 330px;
      top: 163px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #b1b2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 106px;
      top: 167px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #b2b3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 184px;
      top: 167px;
      width: 68px;
      height: 49px;
      z-index: $rodZ;
    }
    #setl_A7 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 606px;
      top: $aLow;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
      
    }
    #setl_A2 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 233px;
      top: $aHigh;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_A1 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 159px;
      top: 37px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
      
    }
    #setl_A4 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 387px;
      top: $aHigh;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_A3 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 313px;
      top: 39px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_A6 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 537px;
      top: 0px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #setl_A5 {
    background-repeat: no-repeat;
      background-image: url($settlementTemplatePawn);
      position: absolute;
      left: 460px;
      top: 39px;
      width:$fiftyfour;
      height:$fiftyseven;
      z-index: $setZ;
    }
    #city_A2 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 232px;
      top: $aHigh;
      width:$fiftyseven;
      height:$fiftyseven;
      z-index: $cityZ;
    }
    #city_A1 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 158px;
      top: 22px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_A4 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 386px;
      top: $aHigh;
      width:$fiftyseven;
      height: 55px;
      z-index: $cityZ;
    }
    #city_A3 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 312px;
      top: 24px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_A5 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 458px;
      top: 24px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_A6 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 536px;
      top: $aHigh;
      width:$fiftyseven;
      height:$fiftyfour;
      z-index: $cityZ;
    }
    #city_A7 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 608px;
      top: 24px;
      width:$fiftyseven;
      height:$seventy;
      z-index: $cityZ;
    }
    #a1a2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 183px;
      top: 32px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #a2a3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 261px;
      top: 32px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #a3a4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 337px;
      top: 34px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #a4a5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 415px;
      top: 34px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #a5a6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 487px;
      top: 32px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
    #a6a7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 565px;
      top: 30px;
      width: 68px;
      height: 49px;
      z-index: $setZ;
    }
/* end pawn placeholder section */

} /* tileContainer */

//
//