/* ALL BOOTSTRAP */
/* Bootstrap Variables Start */
/* Bootstrap Variables END */
/* BOOTSTRAP END */
/* beginning pawn placeholder section */
/* z-index for road,city and settlement assets */
/* for cosmetic purposes only: placed settlements above cities */
/* roads look best when placed an index under the other pawns */
/* $setHeight: 57px;
 */
/* valuename=pixels */
/* city placeholder asset*/
/* settlement pawn asset*/
/* 3 different road assets (vertical and both slopes) */
/* testingInterface should always be highest */
.allPawnsPhParent {
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 0px;
  opacity: 80%;
  z-index: 402;
}

/* allPawnsPhParent */
/* Below: Height of placeholder pawns
  Height is measured from top */
/* subtract 30px; */
/* subtract 10px; */
/* subtract 40px; */
/* subtract 10px; */
/* subtract 40px; */
/* subtract 10px; */
/* subtract 40px; */
/* expected 255 ?*/
/* subtract 40px; */
.tileContainer {
  /* end pawn placeholder section */
}

.tileContainer .tilePlaceholder {
  background-repeat: no-repeat;
}

.tileContainer #setl_F4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 382px;
  top: 692px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_F5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 465px;
  top: 662px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_F7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 607px;
  top: 652px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_F6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 533px;
  top: 692px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_F1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 158px;
  top: 652px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_F2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 226px;
  top: 682px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_F3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 314px;
  top: 652px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #city_F5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 464px;
  top: 652px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_F7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 610px;
  top: 652px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_F6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 536px;
  top: 682px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_F1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 157px;
  top: 652px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_F2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 229px;
  top: 682px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_F3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 313px;
  top: 652px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_F4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 385px;
  top: 682px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #f7e8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 627px;
  top: 608px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #f5e6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 479px;
  top: 608px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #f6f7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 571px;
  top: 688px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #f5f6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 490px;
  top: 687px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #f1e2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 172px;
  top: 607px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #f2f3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 264px;
  top: 687px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #f1f2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 183px;
  top: 686px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #f3e4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 328px;
  top: 606px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #f4f5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 420px;
  top: 686px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #f3f4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 339px;
  top: 685px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #e6e7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 496px;
  top: 559px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #e5e6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 415px;
  top: 558px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #setl_E7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 547px;
  top: 520px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 689px;
  top: 520px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 615px;
  top: 562px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 390px;
  top: 524px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 458px;
  top: 566px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 231px;
  top: 522px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 299px;
  top: 564px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 75px;
  top: 522px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_E2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 143px;
  top: 564px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #city_E7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 546px;
  top: 505px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 692px;
  top: 505px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 618px;
  top: 547px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 389px;
  top: 509px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 461px;
  top: 551px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 230px;
  top: 507px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 302px;
  top: 549px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 74px;
  top: 507px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_E2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 146px;
  top: 549px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #e9d10 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 709px;
  top: 475px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #e7d8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 561px;
  top: 475px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #e8e9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 653px;
  top: 555px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #e7e8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 572px;
  top: 554px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #e5d6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 404px;
  top: 479px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #e3d4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 245px;
  top: 477px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #e4e5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 337px;
  top: 557px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #e3e4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 256px;
  top: 556px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #e1d2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 89px;
  top: 477px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #e2e3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 181px;
  top: 557px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #e1e2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 100px;
  top: 556px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d9d10 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 645px;
  top: 428px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #setl_D1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 1px;
  top: 390px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 69px;
  top: 432px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 152px;
  top: 390px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 220px;
  top: 432px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 311px;
  top: 390px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 470px;
  top: 390px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 538px;
  top: 432px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 620px;
  top: 394px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D11 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 762px;
  top: 394px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D10 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 688px;
  top: 436px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_D6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 379px;
  top: 432px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #city_D1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 0px;
  top: 375px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 72px;
  top: 417px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 151px;
  top: 375px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 223px;
  top: 417px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 310px;
  top: 375px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 382px;
  top: 417px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 469px;
  top: 375px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 541px;
  top: 417px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 619px;
  top: 379px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D11 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 765px;
  top: 379px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_D10 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 691px;
  top: 421px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #d1d2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 26px;
  top: 424px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d1c1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 15px;
  top: 345px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #d2d3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 107px;
  top: 425px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d3c3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 166px;
  top: 345px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #d4d5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 258px;
  top: 425px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d3d4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 177px;
  top: 424px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d5c5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 325px;
  top: 345px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #d6d7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 417px;
  top: 425px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d5d6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 336px;
  top: 424px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d7c7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 484px;
  top: 345px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #d8d9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* lL-hR */
  position: absolute;
  left: 576px;
  top: 425px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d7d8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 495px;
  top: 424px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #d11c11 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 782px;
  top: 349px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #d9c9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 634px;
  top: 349px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #d10d11 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /*lL-hR*/
  position: absolute;
  left: 726px;
  top: 429px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #setl_C2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 75px;
  top: 265px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 1px;
  top: 303px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 226px;
  top: 265px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 152px;
  top: 303px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 385px;
  top: 265px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 311px;
  top: 303px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 544px;
  top: 265px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 470px;
  top: 303px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C10 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 694px;
  top: 269px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 620px;
  top: 307px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_C11 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 762px;
  top: 307px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #city_C1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 0px;
  top: 288px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 225px;
  top: 250px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 151px;
  top: 288px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 384px;
  top: 250px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 310px;
  top: 288px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 543px;
  top: 250px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 469px;
  top: 288px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C10 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 693px;
  top: 254px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 619px;
  top: 292px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C11 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 765px;
  top: 292px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_C2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 74px;
  top: 250px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #c10b9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 706px;
  top: 212px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #c8b7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 555px;
  top: 210px;
  width: 19px;
  height: 70px;
  z-index: 402;
}

.tileContainer #c6b5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 399px;
  top: 210px;
  width: 19px;
  height: 70px;
  z-index: 402;
}

.tileContainer #c4b3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 242px;
  top: 210px;
  width: 19px;
  height: 70px;
  z-index: 402;
}

.tileContainer #c2b1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 96px;
  top: 214px;
  width: 19px;
  height: 70px;
  z-index: 402;
}

.tileContainer #c1c2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 25px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c2c3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 103px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c3c4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 176px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c4c5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 254px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c5c6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 335px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c6c7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 413px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c7c8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 494px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c8c9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 572px;
  top: 298px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c9c10 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 644px;
  top: 302px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #c10c11 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 722px;
  top: 302px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #setl_B9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 688px;
  top: 172px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 605px;
  top: 124px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 531px;
  top: 166px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 459px;
  top: 130px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 385px;
  top: 168px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 302px;
  top: 130px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 228px;
  top: 168px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 156px;
  top: 134px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_B1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 82px;
  top: 172px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #city_B8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 608px;
  top: 109px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 534px;
  top: 151px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 689px;
  top: 155px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 459px;
  top: 115px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 384px;
  top: 153px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 302px;
  top: 115px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 227px;
  top: 153px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 155px;
  top: 119px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_B1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 81px;
  top: 157px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #b8a7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 625px;
  top: 79px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #b2a1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 173px;
  top: 79px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #b4a3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 327px;
  top: 81px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #b6a5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawnVert.png");
  /* vertical */
  position: absolute;
  left: 477px;
  top: 79px;
  width: 19px;
  height: 70px;
  z-index: 400;
}

.tileContainer #b7b8 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 565px;
  top: 163px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #b8b9 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 643px;
  top: 163px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #b5b6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 409px;
  top: 163px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #b6b7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 487px;
  top: 163px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #b3b4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 252px;
  top: 163px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #b4b5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 330px;
  top: 163px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #b1b2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 106px;
  top: 167px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #b2b3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 184px;
  top: 167px;
  width: 68px;
  height: 49px;
  z-index: 400;
}

.tileContainer #setl_A7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 606px;
  top: 40px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_A2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 233px;
  top: 0px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_A1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 159px;
  top: 37px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_A4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 387px;
  top: 0px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_A3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 313px;
  top: 39px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_A6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 537px;
  top: 0px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #setl_A5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/settlementTemplatePawn.png");
  position: absolute;
  left: 460px;
  top: 39px;
  width: 57px;
  height: 57px;
  z-index: 402;
}

.tileContainer #city_A2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 232px;
  top: 0px;
  width: 57px;
  height: 57px;
  z-index: 401;
}

.tileContainer #city_A1 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 158px;
  top: 22px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_A4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 386px;
  top: 0px;
  width: 57px;
  height: 55px;
  z-index: 401;
}

.tileContainer #city_A3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 312px;
  top: 24px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_A5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 458px;
  top: 24px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #city_A6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 536px;
  top: 0px;
  width: 57px;
  height: 57px;
  z-index: 401;
}

.tileContainer #city_A7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/cityTemplatePawn.png");
  position: absolute;
  left: 608px;
  top: 24px;
  width: 57px;
  height: 70px;
  z-index: 401;
}

.tileContainer #a1a2 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 183px;
  top: 32px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #a2a3 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 261px;
  top: 32px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #a3a4 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 337px;
  top: 34px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #a4a5 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 415px;
  top: 34px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #a5a6 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-lL-hR.png");
  /* hL-hR */
  position: absolute;
  left: 487px;
  top: 32px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

.tileContainer #a6a7 {
  background-repeat: no-repeat;
  background-image: url("gameAssetsOfficial/roadTemplatePawn-hL-lR.png");
  /* hL-lR */
  position: absolute;
  left: 565px;
  top: 30px;
  width: 68px;
  height: 49px;
  z-index: 402;
}

/* tileContainer */
/*# sourceMappingURL=noPSizStyleAssets.css.map */