/* city placeholder asset*/
/* settlement pawn asset*/
/* 3 different road assets (vertical and both slopes) */
/* z-index for road,city and settlement assets */
/* for cosmetic purposes only: placed settlements above cities */
/* roads look best when placed an index under the other pawns */
/* hexPlaceholder */
/* index of All cards (highest items) */
/* 1366px */
/* 768px */
/* $viewportWidth: 200px;
$viewportHeight: 100vh; */
/* #shuffleButton2 {
  text-align: center;

  width: 170px;
  height: $tileHeight;
background-color: blue;
color: yellow;
font-size: 25px;;
} */
.tileContainer {
  position: absolute;
  left: -15px;
  /* .tilePlaceholder {


  } */
  /* tilePlaceholder */
  /* All tiles will be set to "visible after shuffling is done"*/
}

.tileContainer #tp_A {
  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 44px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_B {
  background-repeat: no-repeat;
  position: absolute;
  left: 627px;
  top: 44px;
  min-width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_C {
  background-repeat: no-repeat;
  position: absolute;
  left: 781px;
  top: 42px;
  min-width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_D {
  /*    background-image: url($woodTile);
 */
  /* background-size: 400px;  background-color: grey;
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 393px;
  top: 176px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_E {
  background-repeat: no-repeat;
  position: absolute;
  left: 547px;
  top: 176px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_F {
  background-repeat: no-repeat;
  position: absolute;
  left: 703px;
  top: 176px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_G {
  /*   background-image: url($woodTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 859px;
  top: 176px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_H {
  background-repeat: no-repeat;
  position: absolute;
  left: 316px;
  top: 308px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_I {
  /*   background-image: url($wheatTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 308px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_J {
  /*   background-image: url($wheatTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 626px;
  top: 308px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_K {
  /*   background-image: url($wheatTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 781px;
  top: 308px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_L {
  /*   background-image: url($wheatTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 936px;
  top: 308px;
  min-width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_M {
  /*   background-image: url($oreTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 393px;
  top: 441px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_N {
  /*   background-image: url($oreTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 548px;
  top: 441px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_O {
  /*   background-image: url($oreTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 703px;
  top: 441px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_P {
  /*   background-image: url($brickTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 859px;
  top: 441px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_Q {
  /*    background-image: url($brickTile);
  */
  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 573px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_R {
  background-repeat: no-repeat;
  position: absolute;
  left: 626px;
  top: 573px;
  width: 147px;
  height: 170px;
  z-index: 1;
}

.tileContainer #tp_S {
  /*   background-image: url($desertTile);
 */
  background-repeat: no-repeat;
  position: relative;
  left: 781px;
  top: 573px;
  width: 147px;
  height: 170px;
  z-index: 1;
  border: none;
}

/* tileContainer */
#island_hexes {
  position: absolute;
  left: 0px;
  top: 300px;
  /* min-width: 1407px;
  min-height: 802px; */
  z-index: 100;
}

#island_hexes #sheep1 {
  /* background-image:url($sheepTile); */
  width: 148px;
  height: 170px;
}

#island_hexes #sheep2 {
  width: 148px;
  height: 170px;
  /* background-image:url($sheepTile); */
}

#island_hexes #sheep3 {
  width: 148px;
  height: 170px;
  /* background-image:url($sheepTile); */
}

#island_hexes #sheep4 {
  width: 148px;
  height: 170px;
  /* background-image:url($sheepTile); */
}

#island_hexes #wood1 {
  width: 148px;
  height: 170px;
  /* background-image:url($woodTile); */
}

#island_hexes #wood2 {
  width: 148px;
  height: 170px;
  /* background-image:url($woodTile); */
}

#island_hexes #wood3 {
  width: 148px;
  height: 170px;
  /* background-image:url($woodTile); */
}

#island_hexes #wood4 {
  width: 148px;
  height: 170px;
  /* background-image:url($woodTile); */
}

#island_hexes #wheat1 {
  width: 148px;
  height: 170px;
  /* background-image:url($wheatTile); */
}

#island_hexes #wheat2 {
  width: 148px;
  height: 170px;
  /* background-image:url($wheatTile); */
}

#island_hexes #wheat3 {
  width: 148px;
  height: 170px;
  /* background-image:url($wheatTile); */
}

#island_hexes #wheat4 {
  width: 148px;
  height: 170px;
  /* background-image:url($wheatTile); */
}

#island_hexes #brick1 {
  width: 148px;
  height: 170px;
  background-image: url("gameAssetsOfficial/brick1.png");
}

#island_hexes #brick2 {
  width: 148px;
  height: 170px;
  background-image: url("gameAssetsOfficial/brick1.png");
}

#island_hexes #brick3 {
  background-image: url("gameAssetsOfficial/brick1.png");
  width: 148px;
  height: 170px;
}

#island_hexes #ore1 {
  width: 148px;
  height: 170px;
  /* background-image:url($oreTile); */
}

#island_hexes #ore2 {
  width: 148px;
  height: 170px;
  /* background-image:url($oreTile); */
}

#island_hexes #ore3 {
  width: 148px;
  height: 170px;
  /* background-image:url($oreTile); */
}

#island_hexes #desert1 {
  /*   background-image:url($desertTile);
 */
  width: 148px;
  height: 170px;
}

/* end island_hexes */
.allPawnsPhParent {
  position: absolute;
  top: 10px;
  left: 275px;
}

/* allPawnsPhParent */
/* Below: Height of placeholder pawns
Height is measured from top */
/* subtract 30px; */
/* subtract 10px; */
/* subtract 40px; */
/* subtract 10px; */
/* subtract 40px; */
/* subtract 10px; */
/* subtract 40px; */
/* expected 255 ?*/
/* subtract 40px; */
/*# sourceMappingURL=shufflingStyles.css.map */