/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
 */
/* index of All cards (highest items) */
/* 1366px; */
/*  768px; */
/* 
.buttonContainer {
  position: absolute;
  width: 50%;
  z-index:1000;
}

.myButton {
  display: block;
  width: 100%;
  height: auto;
  z-index:1001;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  z-index: 1002;
}

.container:hover .overlay {
  opacity: 1;
  z-index:1000;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
 */
body {
  font-family: "Courier New", Courier, monospace;
  /*  background-color: #0f5581;
 */
  background-color: #132357;
}

/* body */
.wrapper {
  /* islandBackdrop  */
  /* /* is not impacted by size or background size */
  /* width:   $viewportWidth; */
  /*
all other rules are nested
     inside the container
     */
  /*
#resCardRobTradeBuy {
  position: absolute;
  left: 0px;
  top: 0px;
  width: $totalMinWidth;
  min-height: $totalMinHeight;
  border: none;
} */
  /* resourcecards */
  /* end Buyable Items logo */
  /* #playerOrange {
  position: absolute;
  left: 0px;
  top: 0px;
  width: $totalMinWidth;
  min-height: $totalMinHeight;
  z-index: 139;
}

#devCardOrange {
  background-image: url("gameAssetsOfficial/devCardOrange.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1255px;
  top: 350px;
  width: 42px;
  min-height: 50px;
  z-index: 138;
}

#roadOrange {
  background-image: url("gameAssetsOfficial/roadOrange.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1253px;
  top: 311px;
  width: 71px;
  min-height: 19px;
  z-index: 137;
}

#settleOrange {
  background-image: url("gameAssetsOfficial/settlementOrange.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1252px;
  top: 233px;
  width: 55px;
  min-height: 53px;
  z-index: 136;
}

#cityOrange {
  background-image: url("gameAssetsOfficial/cityOrange.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1251px;
  top: 149px;
  width: 57px;
  min-height: 71px;
  z-index: 135;
} */
  /* 

  #myButton {
  z-index: 600;
  bottom: 0px;
  right: 100px;
}
 */
  /* 
    #island_Dice_Numbers {
      position: absolute;
      left: 0px;
      top: 0px;
      width: $totalMinWidth;
      min-height: $totalMinHeight;
      z-index: 53;
    } */
  /* development Cards */
  /* 
  #Buying_Interface_copy {
    position: absolute;
    left: 0px;
    top: 0px;
    width: $totalMinWidth;
    min-height: $totalMinHeight;
    z-index: 35;
  } */
  /* 6/02/21
replaced the following with equivalent 
placeholders 
 */
  /*
#tp_A {

  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 44px;
  width: 172px;
  min-height: 187px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_B {
  

  background-repeat: no-repeat;
  position: absolute;
  left: 627px;
  top: 44px;
  width: 171px;
  min-height: 187px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_C {
  

  background-repeat: no-repeat;
  position: absolute;
  left: 781px;
  top: 42px;
  width: 171px;
  min-height: 187px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_D {
  

  background-repeat: no-repeat;
  position: absolute;
  left: 393px;
  top: 176px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_E {
     
  background-repeat: no-repeat;
  position: absolute;
  left: 547px;
  top: 176px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_F {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 703px;
  top: 176px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_G {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 859px;
  top: 176px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_H {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 316px;
  top: 308px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_I {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 308px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_J {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 626px;
  top: 308px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_K {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 781px;
  top: 308px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_L {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 936px;
  top: 308px;
  width: 168px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_M {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 393px;
  top: 441px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_N {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 548px;
  top: 441px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_O {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 703px;
  top: 441px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_P {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 859px;
  top: 441px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_Q {

  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 573px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_R {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 626px;
  top: 573px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
}

#tp_S {
  
  background-repeat: no-repeat;
  position: absolute;
  left: 781px;
  top: 573px;
  width: 172px;
  min-height: 188px;
  z-index: $hexPlaceholder_Z-index;
  border: none;
}




*/
  /* island_Hexes */
}

.wrapper .islandBackdrop {
  background-repeat: no-repeat;
  background-position: 5px 10px;
  position: relative;
  top: 0px;
  left: 0px;
  border: none;
  z-index: 0;
}

.wrapper #imageIsland {
  position: absolute;
  top: 10px;
  left: 3px;
}

.wrapper #shuffleButton1 {
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 170px;
  text-overflow: clip;
  top: 800px;
  left: 600px;
  background-color: orange;
  font-size: 2em;
  z-index: 501;
}

.wrapper #shuffleButton1:hover {
  background-color: darkorange;
  cursor: pointer;
}

.wrapper .resourceCards {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #sheepCard {
  background-image: url("gameAssetsOfficial/sheepCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 983px;
  top: 597px;
  width: 172px;
  min-height: 152px;
  z-index: 501;
  border: none;
}

.wrapper .resourceCards #totalSheepDiamond {
  background-image: url("gameAssetsOfficial/totalSheepDiamond.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1117px;
  top: 693px;
  width: 55px;
  min-height: 54px;
  z-index: 377;
  border: none;
}

.wrapper .resourceCards #totalSheepDiamond #sheepTotalNull {
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #cccccc;
  text-transform: uppercase;
  line-height: 0.583;
  text-align: center;
  text-shadow: 0px 1px 2.7px rgba(0, 0, 0, 0.61);
  rotate: -50deg;
  position: relative;
  left: 0px;
  top: 20px;
  width: 60.859px;
  min-height: 17px;
  z-index: 500;
  border: none;
  background-repeat: no-repeat;
}

.wrapper .resourceCards #woodCard {
  background-image: url("gameAssetsOfficial/woodCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1033px;
  top: 533px;
  width: 168px;
  min-height: 167px;
  z-index: 502;
  border: none;
}

.wrapper .resourceCards #totalWoodDiamond {
  background-image: url("gameAssetsOfficial/totalWoodDiamond.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1152px;
  top: 651px;
  width: 53px;
  min-height: 55px;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #totalWoodDiamond #woodTotalNull {
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #cccccc;
  text-transform: uppercase;
  line-height: 0.583;
  text-align: center;
  text-shadow: 0px 1px 2.7px rgba(0, 0, 0, 0.61);
  rotate: -40deg;
  position: relative;
  left: 0px;
  top: 20px;
  width: 60.859px;
  min-height: 17px;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #wheatCard {
  background-image: url("gameAssetsOfficial/wheatCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1102px;
  top: 485px;
  width: 154px;
  min-height: 170px;
  z-index: 503;
  border: none;
}

.wrapper .resourceCards #totalWheatDiamond {
  background-image: url("gameAssetsOfficial/totalWheatDiamond.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1196px;
  top: 619px;
  width: 53px;
  min-height: 56px;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #totalWheatDiamond #wheatTotalNull {
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #cccccc;
  text-transform: uppercase;
  line-height: 0.583;
  text-align: center;
  text-shadow: 0px 1px 2.7px rgba(0, 0, 0, 0.61);
  rotate: -30deg;
  position: relative;
  left: 0px;
  top: 20px;
  width: 60.859px;
  min-height: 17px;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #oreCard {
  background-image: url("gameAssetsOfficial/oreCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1184px;
  top: 460px;
  width: 132px;
  min-height: 166px;
  z-index: 504;
  border: none;
}

.wrapper .resourceCards #totalOreDiamond {
  background-image: url("gameAssetsOfficial/totalOreDiamond.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1248px;
  top: 602px;
  width: 50px;
  min-height: 57px;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #totalOreDiamond #oreTotalNull {
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #cccccc;
  text-transform: uppercase;
  line-height: 0.583;
  text-align: center;
  text-shadow: 0px 1px 2.7px rgba(0, 0, 0, 0.61);
  transform: matrix(0.96593, -0.25882, 0.25882, 0.96593, 0, 0);
  -moz-transform: matrix(0.96593, -0.25882, 0.25882, 0.96593, 0, 0);
  -webkit-transform: matrix(0.96593, -0.25882, 0.25882, 0.96593, 0, 0);
  -ms-transform: matrix(0.96593, -0.25882, 0.25882, 0.96593, 0, 0);
  position: relative;
  left: 0px;
  top: 20px;
  width: 50.859px;
  min-height: 17px;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #brickCard {
  background-image: url("gameAssetsOfficial/brickCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1272px;
  top: 459px;
  width: 100px;
  min-height: 151px;
  z-index: 505;
  border: none;
}

.wrapper .resourceCards #totalBrickDiamond {
  background-image: url("gameAssetsOfficial/totalBrickDiamond.png");
  background-repeat: no-repeat;
  position: relative;
  left: 1299px;
  top: 601px;
  width: 49px;
  min-height: 54px;
  z-index: 500;
  border: none;
}

.wrapper .resourceCards #totalBrickDiamond #brickTotalNull {
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #cccccc;
  text-transform: uppercase;
  line-height: 0.583;
  text-align: center;
  text-shadow: 0px 1px 2.7px rgba(0, 0, 0, 0.61);
  rotate: 0deg;
  position: relative;
  left: 0px;
  top: 15px;
  width: 50.859px;
  min-height: 17px;
  z-index: 501;
  border: none;
}

.wrapper #Buyable_Items_Logo {
  width: 200px;
}

.wrapper #playerOrange {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: auto;
  min-height: auto;
  z-index: 1100;
}

.wrapper #playerOrange #devCardOrange {
  background-image: url("devCardOrange.png");
  position: absolute;
  left: 1255px;
  top: 350px;
  width: auto;
  height: auto;
  z-index: 1100;
}

.wrapper #playerOrange #roadOrange {
  background-image: url("roadOrange.png");
  position: absolute;
  left: 1253px;
  top: 311px;
  width: 71px;
  height: 19px;
  z-index: 1100;
}

.wrapper #playerOrange #settlementOrange {
  background-image: url("settlementOrange.png");
  position: absolute;
  left: 1252px;
  top: 233px;
  width: 55px;
  height: 53px;
  z-index: 1100;
}

.wrapper #playerOrange #cityOrange {
  background-image: url("cityOrange.png");
  position: absolute;
  left: 1251px;
  top: 149px;
  width: 57px;
  height: 71px;
  z-index: 1100;
}

.wrapper #playerWhite {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 1100;
}

.wrapper #devCardWhite {
  background-image: url("gameAssetsOfficial/devCardWhite.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1255px;
  top: 354px;
  width: 42px;
  min-height: 50px;
  z-index: 1100;
}

.wrapper #roadWhite {
  background-image: url("gameAssetsOfficial/roadWhite.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1253px;
  top: 317px;
  width: 71px;
  min-height: 19px;
  z-index: 1100;
}

.wrapper #settleWhite {
  background-image: url("gameAssetsOfficial/settlementWhite.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1252px;
  top: 239px;
  width: 55px;
  min-height: 53px;
  z-index: 1100;
}

.wrapper #cityWhite {
  background-image: url("gameAssetsOfficial/cityWhite.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1251px;
  top: 155px;
  width: 57px;
  min-height: 71px;
  z-index: 1100;
}

.wrapper #playerRed {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 1100;
}

.wrapper #devCardRed {
  background-image: url("gameAssetsOfficial/devCardRed.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1255px;
  top: 358px;
  width: 42px;
  min-height: 50px;
  z-index: 1100;
}

.wrapper #roadRed {
  background-image: url("gameAssetsOfficial/roadRed.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1253px;
  top: 321px;
  width: 71px;
  min-height: 19px;
  z-index: 1100;
}

.wrapper #settleRed {
  background-image: url("gameAssetsOfficial/settlementRed.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1252px;
  top: 243px;
  width: 55px;
  min-height: 53px;
  z-index: 1100;
}

.wrapper #cityRed {
  background-image: url("gameAssetsOfficial/cityRed.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1251px;
  top: 159px;
  width: 57px;
  min-height: 71px;
  z-index: 1100;
}

.wrapper #playerBlue {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 1100;
}

.wrapper #devCardBlue {
  background-image: url("gameAssetsOfficial/devCardBlue.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1255px;
  top: 362px;
  width: 42px;
  min-height: 50px;
  z-index: 1100;
}

.wrapper #roadBLue {
  background-image: url("gameAssetsOfficial/roadBLue.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1256px;
  top: 329px;
  width: 65px;
  min-height: 13px;
  z-index: 1100;
}

.wrapper #settleBlue {
  background-image: url("gameAssetsOfficial/settlementBlue.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1255px;
  top: 251px;
  width: 49px;
  min-height: 47px;
  z-index: 1100;
}

.wrapper #cityBlue {
  background-image: url("gameAssetsOfficial/cityBlue.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1254px;
  top: 167px;
  width: 51px;
  min-height: 65px;
  z-index: 1100;
  border: none;
}

.wrapper .victoryPointsCounterBox {
  border-width: 9.56px;
  border-color: #343434;
  border-style: solid;
  background-color: #494949;
  opacity: 0.729;
  position: absolute;
  left: 1220px;
  top: 10px;
  width: 134.88px;
  height: 58.88px;
  z-index: 1000;
}

.wrapper .victoryPointsCounterBox #victoryPoints {
  position: absolute;
  top: -60px;
  left: 80px;
}

.wrapper #myVPs {
  font-size: 16px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: left;
  position: inherit;
  right: 0px;
  top: 47.6px;
  width: 72px;
  min-height: 53px;
  z-index: 500;
}

.wrapper #vpCounter {
  font-size: 50px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: none;
  line-height: 0.4;
  text-align: left;
  position: relative;
  left: 100px;
  top: 20px;
  z-index: 500;
  border: none;
}

.wrapper #pawnsCounterContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 500;
  border: none;
}

.wrapper #pawnsCounterContainer #left {
  font-size: 20px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 1309px;
  top: 140px;
  width: 49px;
  height: 16px;
  z-index: 500;
}

.wrapper #pawnsCounterContainer #citiesLeft {
  font-size: 30px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: absolute;
  left: 1328.062px;
  top: 195.08px;
  z-index: 500;
}

.wrapper #pawnsCounterContainer #settlementsLeft {
  font-size: 30px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: absolute;
  left: 1328.062px;
  top: 250.08px;
  z-index: 500;
}

.wrapper #pawnsCounterContainer #roadsLeft {
  font-size: 30px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: absolute;
  left: 1325px;
  top: 306.08px;
  z-index: 500;
  border: none;
}

.wrapper #pawnsCounterContainer #devCardTotal {
  font-size: 35px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: absolute;
  left: 1328.062px;
  top: 367.08px;
  z-index: 500;
}

.wrapper #pawnsContainerBox {
  border-width: 9.56px;
  border-color: #343434;
  border-style: solid;
  border-radius: 27px;
  background-color: #494949;
  opacity: 0.5;
  position: absolute;
  top: 139px;
  left: 1250px;
  width: 111.88px;
  min-height: 275.88px;
  z-index: 0;
  border: none;
}

.wrapper .cityMarket {
  position: absolute;
  left: 60px;
  z-index: 1100;
}

.wrapper .settlementMarket {
  position: absolute;
  left: 10px;
  z-index: 1100;
}

.wrapper .roadMarket {
  position: absolute;
  left: 10px;
  z-index: 1100;
}

.wrapper .devCardMarket {
  position: absolute;
  left: 10px;
  z-index: 1100;
}

.wrapper .buySkipTrade {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  min-height: 100%;
  z-index: 600;
}

.wrapper .buySkipTrade #fullTBS {
  z-index: 300;
}

.wrapper #BUY {
  font-size: 24px;
  font-family: "Arial Black";
  background-image: url("BUY.png");
  position: absolute;
  left: 1271px;
  top: 664px;
  width: 96px;
  height: 48px;
  left: 1256.269px;
  top: 689.908px;
  width: 55.039px;
  min-height: 17px;
  z-index: 1000;
}

.wrapper #SKIP {
  font-size: 24px;
  font-family: "Arial Black";
  color: #343434;
  text-transform: uppercase;
  line-height: 0.583;
  text-align: center;
  transform: matrix(0.99937, -0.03544, 0.03544, 0.99937, 0, 0);
  -moz-transform: matrix(0.99937, -0.03544, 0.03544, 0.99937, 0, 0);
  -webkit-transform: matrix(0.99937, -0.03544, 0.03544, 0.99937, 0, 0);
  -ms-transform: matrix(0.99937, -0.03544, 0.03544, 0.99937, 0, 0);
  position: absolute;
  left: 1256.101px;
  top: 748.908px;
  width: 62.664px;
  min-height: 17px;
  z-index: 1000;
}

.wrapper #TRADE {
  font-size: 24px;
  font-family: "Arial Black";
  color: #343434;
  text-transform: uppercase;
  line-height: 0.583;
  text-align: center;
  transform: matrix(0.69112, -0.72274, 0.72274, 0.69112, 0, 0);
  -moz-transform: matrix(0.69112, -0.72274, 0.72274, 0.69112, 0, 0);
  -webkit-transform: matrix(0.69112, -0.72274, 0.72274, 0.69112, 0, 0);
  -ms-transform: matrix(0.69112, -0.72274, 0.72274, 0.69112, 0, 0);
  position: absolute;
  left: 1165.601px;
  top: 730.408px;
  width: 88.336px;
  min-height: 17px;
  z-index: 1000;
}

.wrapper #colorHandBigUnderBlue {
  background-image: url("gameAssetsOfficial/colorHandBigUnderBlue.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 948px;
  top: 460px;
  width: 418px;
  height: 308px;
  z-index: 2;
  border: none;
  background-repeat: no-repeat;
}

.wrapper #colorHandBigUnderRed {
  background-image: url("gameAssetsOfficial/colorHandBigUnderRed.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 948px;
  top: 460px;
  width: 418px;
  height: 308px;
  z-index: 2;
  border: none;
  background-repeat: no-repeat;
}

.wrapper #colorHandBigUnderWhite {
  background-image: url("gameAssetsOfficial/colorHandBigUnderWhite.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 948px;
  top: 460px;
  width: 418px;
  height: 308px;
  z-index: 2;
  border: none;
  background-repeat: no-repeat;
}

.wrapper #colorHandBigUnderOrange {
  background-image: url("gameAssetsOfficial/colorHandBigUnderOrange.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 948px;
  top: 460px;
  width: 418px;
  height: 308px;
  z-index: 2;
  border: none;
  background-repeat: no-repeat;
}

.wrapper #tradeShips {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  min-height: 100%;
  z-index: 90;
  border: none;
}

.wrapper #any3_1A {
  background-image: url("gameAssetsOfficial/any3_1A.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 954px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 89;
}

.wrapper #any3_1B {
  background-image: url("gameAssetsOfficial/any3_1B.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 971px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 88;
  border: none;
}

.wrapper #any3_1C {
  background-image: url("gameAssetsOfficial/any3_1C.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 993px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 87;
  border: none;
}

.wrapper #any3_1D {
  background-image: url("gameAssetsOfficial/any3_1D.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1011px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 86;
  border: none;
}

.wrapper #brick_2_1 {
  background-image: url("gameAssetsOfficial/brick-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 983px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 85;
  border: none;
}

.wrapper #ore_2_1 {
  background-image: url("gameAssetsOfficial/ore-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 990px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 84;
  border: none;
}

.wrapper #sheep_2_1 {
  background-image: url("gameAssetsOfficial/sheep-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 997px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 83;
  border: none;
}

.wrapper #wood_2_1 {
  background-image: url("gameAssetsOfficial/wood-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1004px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 82;
  border: none;
}

.wrapper #wheat_2_1 {
  background-image: url("gameAssetsOfficial/wheat-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1011px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 81;
  border: none;
}

.wrapper #currentPlayerTimerClock {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 79;
}

.wrapper #timerArrow {
  background-color: #643f0f;
  position: absolute;
  left: 1156px;
  top: 25px;
  width: 11px;
  min-height: 33px;
  z-index: 78;
}

.wrapper #timerBG {
  background-image: url("gameAssetsOfficial/timerBG.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1120px;
  top: 4px;
  width: 84px;
  min-height: 84px;
  z-index: 77;
}

.wrapper #Ellipse {
  border-width: 9.56px;
  border-color: #eae2e2;
  border-style: solid;
  border-radius: 50%;
  background-color: #e3d55d;
  position: absolute;
  left: 1125px;
  top: 10px;
  width: 72.88px;
  min-height: 72.88px;
  z-index: 76;
  border: none;
}

.wrapper #robber {
  background-image: url("gameAssetsOfficial/robber.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 808px;
  top: 596px;
  width: 71px;
  min-height: 111px;
  z-index: 74;
  border: none;
}

.wrapper .largestArmyLongestRoad {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 500px;
  z-index: 500;
}

.wrapper .largestArmyLongestRoad #Longest_Road {
  background-image: url("gameAssetsOfficial/Longest Road.png");
  background-repeat: no-repeat;
  position: relative;
  left: 1135px;
  top: 279px;
  width: 106px;
  min-height: 159px;
  z-index: 500;
}

.wrapper .largestArmyLongestRoad #Biggest_Army {
  background-image: url("gameAssetsOfficial/Biggest Army.png");
  background-repeat: no-repeat;
  position: relative;
  left: 1135px;
  top: 124px;
  width: 105px;
  min-height: 160px;
  z-index: 500;
}

.wrapper #Development_Cards {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  min-height: 100%;
  z-index: 500;
  border: none;
}

.wrapper #Development_Cards :hover {
  cursor: pointer;
  width: 110%;
  background-color: #e3d55d;
}

.wrapper #Development_Cards #knightCard {
  background-image: url("gameAssetsOfficial/knightCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 5px;
  top: -1px;
  width: 101px;
  min-height: 151px;
  z-index: 500;
}

.wrapper #Development_Cards #monopolyCard {
  background-image: url("gameAssetsOfficial/monopolyCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 105px;
  top: -1px;
  width: 101px;
  min-height: 151px;
  z-index: 500;
}

.wrapper #Development_Cards #yearofplentyCard {
  background-image: url("gameAssetsOfficial/yearofplentyCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 206px;
  top: -1px;
  width: 101px;
  min-height: 151px;
  z-index: 500;
}

.wrapper #Development_Cards #oneVPCard {
  background-image: url("gameAssetsOfficial/oneVPCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 5px;
  top: 149px;
  width: 101px;
  min-height: 151px;
  z-index: 500;
}

.wrapper #Development_Cards #roadCard {
  background-image: url("gameAssetsOfficial/roadCard.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 105px;
  top: 148px;
  width: 101px;
  min-height: 151px;
  z-index: 500;
}

.wrapper #myButton {
  position: absolute;
  background-color: royalblue;
  top: 1200px;
  border: #2c2424;
  z-index: 900;
}

.wrapper #Buying_Interface {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 40;
}

.wrapper #Yes {
  font-size: 20px;
  font-family: "Roboto Slab";
  color: #0e0e0e;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 289.549px;
  top: 657.013px;
  width: 40px;
  min-height: 15px;
  z-index: 39;
}

.wrapper #No {
  font-size: 20px;
  font-family: "Roboto Slab";
  color: #0e0e0e;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 288.185px;
  top: 710.013px;
  width: 30px;
  min-height: 15px;
  z-index: 38;
}

.wrapper #mainChat {
  font-size: 18px;
  font-family: "Courier";
  color: #2c2424;
  text-transform: none;
  line-height: 1.111;
  text-align: left;
  position: absolute;
  left: 17px;
  top: 620.746px;
  width: 250px;
  z-index: 37;
}

.wrapper #Other {
  font-size: 20px;
  font-family: "Roboto Slab";
  color: #0e0e0e;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 287.953px;
  top: 762.013px;
  width: 72px;
  min-height: 15px;
  z-index: 36;
}

.wrapper #Chat {
  border-width: 6.35px;
  border-color: #726869;
  border-style: solid;
  background-image: -webkit-gradient(linear, left top, right top, from(#bebebe), color-stop(50%, #eeeeee), to(#d2d2d2));
  background-image: linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  background-image: -ms-linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  /*   background-image: url("gameAssetsOfficial/chat.png");
 */
  background-repeat: no-repeat;
  position: absolute;
  left: -1px;
  top: 604px;
  width: 273.3px;
  min-height: 151.3px;
  z-index: 33;
}

.wrapper #box1 {
  border-width: 6.35px;
  border-color: #726869;
  border-style: solid;
  background-image: -webkit-gradient(linear, left top, right top, from(#bebebe), color-stop(50%, #eeeeee), to(#d2d2d2));
  background-image: linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  background-image: -ms-linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  /*   background-image: url("gameAssetsOfficial/box1.png");
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 271px;
  top: 604px;
  width: 90.3px;
  min-height: 44.3px;
  z-index: 32;
}

.wrapper #box2 {
  border-width: 6.35px;
  border-color: #726869;
  border-style: solid;
  background-image: -webkit-gradient(linear, left top, right top, from(#bebebe), color-stop(50%, #eeeeee), to(#d2d2d2));
  background-image: linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  background-image: -ms-linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  /*   background-image: url("gameAssetsOfficial/box2.png");
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 280px;
  top: 657px;
  width: 81.3px;
  min-height: 45.3px;
  z-index: 31;
}

.wrapper #box3 {
  border-width: 6.35px;
  border-color: #726869;
  border-style: solid;
  background-image: -webkit-gradient(linear, left top, right top, from(#bebebe), color-stop(50%, #eeeeee), to(#d2d2d2));
  background-image: linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  background-image: -ms-linear-gradient(90deg, #bebebe 0%, #eeeeee 50%, #d2d2d2 100%);
  /*   background-image: url("gameAssetsOfficial/box2.png");
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 280px;
  top: 710px;
  width: 81.3px;
  min-height: 45.3px;
  z-index: 31;
}

.wrapper .tilePlaceholder {
  position: absolute;
  visibility: visible;
  z-index: 1;
  /* All tiles will be set to "visible after shuffling is done"*/
}

.wrapper #island_hexes {
  position: absolute;
  left: 32px;
  top: 16px;
  width: auto;
  height: auto;
  z-index: 28;
}

.wrapper #bankChest {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 7;
}

.wrapper #bankChestTop {
  background-image: url("gameAssetsOfficial/bankChestTop.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 5px;
  top: 407px;
  width: 219px;
  min-height: 53px;
  z-index: 6;
}

.wrapper #bankChestBottom {
  background-image: url("gameAssetsOfficial/bankChestBottom.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 7px;
  top: 451px;
  width: 215px;
  min-height: 82px;
  z-index: 5;
}

.wrapper #bankChestInside {
  background-image: url("gameAssetsOfficial/bankChestInside.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 13px;
  top: 417px;
  width: 200px;
  min-height: 43px;
  z-index: 4;
  border: none;
}

/* wrapper */
/*# sourceMappingURL=styleAssets.css.map */