/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
 */

$woodTile: "gameAssetsOfficial/wood1.png";
$sheepTile: "gameAssetsOfficial/sheep1.png";
$wheatTile: "gameAssetsOfficial/wheat1.png";
$oreTile: "gameAssetsOfficial/ore1.png";
$brickTile: "gameAssetsOfficial/brick1.png";
$desertTile: "gameAssetsOfficial/desert1.png";

$tradeShip_index: 1000;

/* Max */
/* $totalMaxWidth: 100vw  *//* 1458px */
/* $totalMaxHeight: 100vh */ /* 968px */
/* $width_Ocean: 80%;
$height_Ocean:  */


//These were originally used for the hexCoin positioning but can be 
//re-used when modified to position the tradeships
    //property used on: top
    $row1: 90px;
    $row2: 230px;
    $row3: 360px;
    $row4: 490px;
    $row5: 610px;

  //property used on: left
    $column1: 330px;
    $column2: 413px;
    $column3: 490px;
    $column4: 567px;
    $column5: 650px; 
    $column6: 722px;
    $column7: 801px;
    $column8: 879px;
    $column9: 960px;
    


 #tradeShips {
  position:relative; 
  z-index: $tradeShip_index;

 } 

 #any3_1A {
  background-image: url("../gameAssetsOfficial/any3_1A.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 954px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
}

#any3_1B {
  background-image: url("../gameAssetsOfficial/any3_1B.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 971px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
  border: none;
}

#any3_1C {
  background-image: url("../gameAssetsOfficial/any3_1C.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 993px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
  border: none;
}

#any3_1D {
  background-image: url("../gameAssetsOfficial/any3_1D.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 1011px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
  border: none;
}

#brick_2_1 {
  background-image: url("../gameAssetsOfficial/brick-2_1.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 983px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 85;
  border: none;
}

#ore_2_1 {
  background-image: url("../gameAssetsOfficial/ore-2_1.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 990px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
  border: none;
}

#sheep_2_1 {
  background-image: url("../gameAssetsOfficial/sheep-2_1.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 997px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
  border: none;
}

#wood_2_1 {
  background-image: url("../gameAssetsOfficial/wood-2_1.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 1004px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
  border: none;
}

#wheat_2_1 {
  background-image: url("../gameAssetsOfficial/wheat-2_1.png");
  background-repeat: no-repeat;
/*   position: absolute;
 */  left: 1011px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: $tradeShip_index;
  border: none;
}





