
.hexNumbers {
 

    $hexNumberzIndex: 500;

    $hexCoinSize: 69px;

    //property used on: top
    $row1: 90px;
    $row2: 230px;
    $row3: 360px;
    $row4: 490px;
    $row5: 610px;

  //property used on: left
    $column1: 330px;
    $column2: 413px;
    $column3: 490px;
    $column4: 567px;
    $column5: 650px; 
    $column6: 722px;
    $column7: 801px;
    $column8: 879px;
    $column9: 960px;
    
  
    #nA {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column3;
      top: $row1;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nB {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column5;
      top: $row1;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nC {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column7;
      top: $row1;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nD {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column2;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nE {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column4;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nF {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column6;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nG {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column8;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nH {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column1;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nI {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column3;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nJ {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column5;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nK {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column7;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nL {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column9;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }


    #nM {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column2; 
      top: $row4;  
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
      border: none;
  }

  #nN {
    background-color: grey;
    background-repeat: no-repeat;
    position: absolute;
    left: $column4; 
    top: $row4;  
    width: $hexCoinSize;
    height: $hexCoinSize;
    z-index: $hexNumberzIndex;
    border: none;
  }
  
    #nO {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column6;
      top: $row4;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nP {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column8;
      top: $row4;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nQ {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column3;
      top: $row5;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nR {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column5;
      top: $row5;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nS {
      background-color: grey;
      background-repeat: no-repeat;
      position: absolute;
      left: $column7;
      top: $row5;
      width: $hexCoinSize;
      height: $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
  }