.hexNumbers {
  top: 0px;
  left: 40px;
  font-size: 200%;
  text-align: center;
}

.hexNumbers #nA {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 160px;
  top: 90px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nB {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 320px;
  top: 90px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nC {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 471px;
  top: 90px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nD {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 83px;
  top: 230px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nE {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 237px;
  top: 230px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nF {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 392px;
  top: 230px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nG {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 549px;
  top: 230px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nH {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  border-radius: 33px;
  left: 0px;
  top: 360px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nI {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 160px;
  top: 360px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nJ {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 320px;
  top: 360px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nK {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 471px;
  top: 360px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nL {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 630px;
  top: 360px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nM {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 83px;
  top: 490px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
  border: none;
}

.hexNumbers #nN {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 237px;
  top: 490px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
  border: none;
}

.hexNumbers #nO {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 392px;
  top: 490px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nP {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 549px;
  top: 490px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nQ {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 160px;
  top: 610px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nR {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 320px;
  top: 610px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}

.hexNumbers #nS {
  background-color: #bec04f;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 33px;
  left: 471px;
  top: 610px;
  width: 39px;
  height: 39px;
  background-size: 39px 39px;
  z-index: 500;
}
/*# sourceMappingURL=hexNumbers.css.map */