$islandWidth: 721px;
$islandHeight: 91%;
$originIsland_left: $islandWidth / 2; /* influences  */
$originIsland_top: 0px; /*  */



/* island backdrop cropped: 821 x 753 px 
height/width = 91%
width/height = 109%
*/


.absoluteAssets {
/* ocean backdrop should comfortably encircle island to accomodate the tradships */
    

$coastalColor: #246892;
$seaColor: #1e5f88;
$oceanColor: #052d85;

background-image: radial-gradient(
  $coastalColor 25%,
  $seaColor 45%,
  $oceanColor 80%
);
top: $originIsland_top;
left: $originIsland_left;
min-width: $islandWidth * 2;
padding-top: 91%;
background-size: cover;



#imageIsland {
    position: relative;

    background-image: url("../gameAssetsOfficial/islandBackdropCropped.png");
    top: $originIsland_top;
    left: $originIsland_left;
    min-width: $islandWidth * 2;
    padding-top: 91%;
    background-size: cover;
    /* 
    First apply background cover
    
    821 × 753 px
    for ratio in % : height / width * 100
    753 / 821 * 100 = 91% (almost square image as 100% is square)

    what we want to do is apply that percentage to padding-top (no height needed).
    */

  
        
}


  
.allPawnsPhParent {
    position: relative;
width: $islandWidth;
    padding-top: 91%;
    background-size: cover;
}
.hexNumbers {
top: -10px;
width: $islandWidth;

}

.tileContainer {
    top: $originIsland_top;
    left: $originIsland_left;
    width: $islandWidth;
    padding-top: 91%;
    background-size: cover;

}



/* insert everything with position absolute in absolute Assets */
}