/* @viewport { width: auto; }
@media (max-width: 600px) {
@viewport { width: 620px; }
}
 */

$islandWidth: 821px/* 821px */;
$islandHeight: 753px /* 753px */;
$originIsland_left: 300px; /* influences  */
$originIsland_top: 0px; /*  */
$sideGutters: 100px;

$oceanWidth: $islandWidth + $islandWidth / 2;
$oceanHeight: 100vh /* $islandHeight + $sideGutters * 2  *//* + $sideGutters + $sideGutters */;

/* island backdrop cropped: 821 x 753 px 
height/width = 91%
width/height = 109%
*/


.absoluteAssets {
/* ocean backdrop should comfortably encircle island to accomodate the tradships */
    position:absolute;
    margin: 10%;
    right: auto;
    
/*     margin: $sideGutters * 4;
 */

    #imageOcean {
        position:absolute;

$coastalColor: #246892;
$seaColor: #1e5f88;
$oceanColor: #052d85;

background-image: radial-gradient(
  $coastalColor 25%,
  $seaColor 45%,
  $oceanColor 80%
);



top: 0vh/* $originIsland_top */;
 left: - $sideGutters;
width: $oceanWidth;
padding-top: $oceanHeight;

background-size: $oceanWidth $islandHeight;
background-repeat: no-repeat;
z-index: 0;
    }


#imageIsland {
    position: absolute;

    background-image: url("../gameAssetsOfficial/islandBackdropCropped.png");
    top: $originIsland_top;
    margin-left: $sideGutters * 4;
    max-width: $islandWidth;
    margin-left: $sideGutters;

    padding-top: $islandHeight;
    background-size: $islandWidth;
    background-repeat: no-repeat;
    /* 
    First apply background cover
    
    821 × 753 px
    for ratio in % : height / width * 100
    753 / 821 * 100 = 91% (almost square image as 100% is square)

    what we want to do is apply that percentage to padding-top (no height needed).
    */
    z-index: 1;
        
}




  
.allPawnsPhParent {
    position: absolute;
    left: 40px;
height: $islandHeight;
width: $islandWidth;

}
.hexNumbers {

top: 0px;
width: $islandWidth;
height: $oceanHeight;
background-size: $islandWidth $islandHeight;

/*     left: $sideGutters;  
 */
}

.tileContainer {
    position: absolute;
    top: $originIsland_top;
    width: $islandWidth;
    padding-top: 93%;

    left: 50px;  
    background-size: $islandWidth $islandHeight;
    background-repeat: no-repeat;

}



/* insert everything with position absolute in absolute Assets */
}
