/* @viewport { width: auto; }
@media (max-width: 600px) {
@viewport { width: 620px; }
}
 */

$islandWidth: 821px/* 821px */;
$islandHeight: $islandWidth * 0.91 /* 753px */;
$originIsland_left: 30px; /* influences  */
$originIsland_top: 0px; /*  */
$sideGutters: 100px;

$oceanWidth: $islandWidth * 1.5;
$oceanHeight: $oceanWidth * 0.91; /* $islandHeight + $sideGutters * 2  *//* + $sideGutters + $sideGutters */

/* island backdrop cropped: 821 x 753 px 
height/width = 91%
width/height = 109%
*/


/* 
.interface-overlay-wrapper {


}
 */


#logHTML {
    bottom: 0px;
    background-color: lightgrey;
    color: black;
}

 .imageOcean {
    position: relative;
    overflow:hidden ;
    $coastalColor: #246892;
    $seaColor: #1e5f88;
    $oceanColor: #052d85;
    
    background-image: radial-gradient(
    $coastalColor 25%,
    $seaColor 45%,
    $oceanColor 80%,
    );
    
    
    /* top: 0vh/* $originIsland_top */
    width: $oceanWidth /* $islandWidth * 2 */;
    min-height: $oceanHeight;
    height: $oceanHeight;


    max-height: $oceanHeight;
    /* padding-top: $sideGutters;
     */
    padding-bottom: $sideGutters;
    
    background-size: $oceanWidth $oceanHeight;
    background-repeat: no-repeat;
    z-index: 0;
    background-size: cover;
    resize: both;

}/* end imageOcean */



    
   

/* 
#imageIsland {
    position: absolute;

    background-image: url("../gameAssetsOfficial/islandBackdropCropped.png");
    top: $originIsland_top;
    margin-left: $sideGutters * 4;
    max-width: $islandWidth;
    margin-left: $sideGutters;

    padding-top: $islandHeight;
    background-size: $islandWidth;
    background-repeat: no-repeat;
    /* 
    First apply background cover
    
    821 × 753 px
    for ratio in % : height / width * 100
    753 / 821 * 100 = 91% (almost square image as 100% is square)

    what we want to do is apply that percentage to padding-top (no height needed).
    
     z-index: 3;
         
}
 */



  
.allPawnsPhParent {
    margin: $sideGutters;

    position: absolute;
    left: 29px;
width: $islandWidth;

}
.hexNumbers {
    margin: $sideGutters;

position: fixed;
top: -10px;
left: 100px;
width: $islandWidth;
background-size: $islandWidth $islandHeight;

/*     left: $sideGutters;  
 */
}

.tileContainer {
    margin: $sideGutters;

    position: absolute;
    top: $originIsland_top;
    min-width: $islandWidth;
    max-width: $oceanWidth;
    min-height: $islandHeight;
    left: 50px;  
    background-image: url("../gameAssetsOfficial/islandBackdropCropped.png");
    background-size: $islandWidth $islandHeight;
    background-repeat: no-repeat;

}

.tradeShips {
    margin: $sideGutters;
    }




