/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
 */
/* @use ;
 */
/* index of All cards (highest items) */
/* testingInterface should always be highest */
/* .row.content {height: 1050px}
 */
.interface-overlay-wrapper {
  position: absolute;
  /* end Resource Cards */
  /* development Cards */
}

.interface-overlay-wrapper #allMyButtons {
  position: relative;
}

.interface-overlay-wrapper #allMyButtons #shuffleButton1 {
  position: relative;
  background-repeat: no-repeat;
  text-overflow: clip;
  top: 0px;
  color: #d3dab1;
  background-color: #719444;
  z-index: 1500;
  width: 75px;
  height: 110.29412px;
}

.interface-overlay-wrapper #allMyButtons #shuffleButton1:hover {
  background-color: #3d6824;
  cursor: pointer;
}

.interface-overlay-wrapper #allMyButtons #shuffleButton2 {
  background-repeat: no-repeat;
  position: relative;
  text-overflow: clip;
  top: 0px;
  color: #d3dab1;
  background-color: #4b9444;
  z-index: 1500;
  width: 75px;
  height: 110.29412px;
}

.interface-overlay-wrapper #allMyButtons #shuffleButton2:hover {
  background-color: #355c55;
  cursor: pointer;
}

.interface-overlay-wrapper #allMyButtons #shuffleTradeShips {
  background-repeat: no-repeat;
  position: relative;
  text-overflow: clip;
  top: 0px;
  color: #d3dab1;
  background-color: #447494;
  z-index: 1500;
  width: 75px;
  height: 110.29412px;
}

.interface-overlay-wrapper #allMyButtons #shuffleTradeShips:hover {
  background-color: #365d63;
  cursor: pointer;
}

.interface-overlay-wrapper .myVictoryPoints {
  position: relative;
  background-color: #525;
  background-repeat: no-repeat;
  text-overflow: clip;
  top: 0px;
  color: #d3dab1;
  z-index: 1500;
  width: 75px;
  height: 110.29412px;
}

.interface-overlay-wrapper .myVPs {
  background-color: #666;
  background-repeat: no-repeat;
  color: #d3dab1;
  z-index: 1500;
  width: 75px;
  height: 110.29412px;
}

.interface-overlay-wrapper .vpCounter {
  background-color: darkmagenta;
}

.interface-overlay-wrapper .resourceCards {
  position: relative;
  padding: 0px;
  z-index: 1000;
  /*  position: fixed;
  margin-bottom: 0px;
  margin-left: 50%;
  margin-right: 0%;
  max-width: $maxCardWidth;
  padding: 0% 3% 0% 0%;
  right: $cardBackgroundSizeWidth;
  bottom: 0px;
  z-index: $allCards_index; */
  /* end SheepCard */
  /* end WoodCard */
  /* end oreCard */
  /* end BrickCard */
}

.interface-overlay-wrapper .resourceCards :hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
}

.interface-overlay-wrapper .resourceCards #sheepCard {
  background-image: url("../gameAssetsOfficial/straightenedResourcecards/sheepCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  top: 0px;
  min-width: 75px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .resourceCards #woodCard {
  background-image: url("../gameAssetsOfficial/straightenedResourcecards/woodCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  top: 0px;
  min-width: 75px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .resourceCards #wheatCard {
  background-image: url("../gameAssetsOfficial/straightenedResourcecards/wheatCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  top: 0px;
  min-width: 75px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .resourceCards #oreCard {
  background-image: url("../gameAssetsOfficial/straightenedResourcecards/oreCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  top: 0px;
  min-width: 75px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .resourceCards #brickCard {
  background-image: url("../gameAssetsOfficial/straightenedResourcecards/brickCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  top: 0px;
  min-width: 75px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .developmentCards {
  position: relative;
  padding: 0px;
  z-index: 1000;
  /*  position: fixed;
  margin-bottom: 0px;
  margin-left: 50%;
  margin-right: 0%;
  max-width: $maxCardWidth;
  padding: 0% 3% 0% 0%;
  right: $cardBackgroundSizeWidth;
  bottom: 0px;
  z-index: $allCards_index; */
  /*   top: $safeBottom;
     */
}

.interface-overlay-wrapper .developmentCards :hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
}

.interface-overlay-wrapper .developmentCards #knightCard {
  background-image: url("../gameAssetsOfficial/knightCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  top: 0px;
  min-width: 75px;
  max-width: 37.5px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .developmentCards #monopolyCard {
  background-image: url("../gameAssetsOfficial/monopolyCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  left: 0px;
  top: 0px;
  min-width: 75px;
  max-width: 37.5px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .developmentCards #yearofplentyCard {
  background-image: url("../gameAssetsOfficial/yearofplentyCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  left: 0px;
  top: 0px;
  min-width: 75px;
  max-width: 37.5px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .developmentCards #oneVPCard {
  background-image: url("../gameAssetsOfficial/oneVPCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  left: 0px;
  top: 0px;
  min-width: 75px;
  max-width: 37.5px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .developmentCards #roadCard {
  background-image: url("../gameAssetsOfficial/roadCard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 75px 110.29412px;
  left: 0px;
  top: 0px;
  min-width: 75px;
  max-width: 37.5px;
  height: 110.29412px;
  z-index: 1000;
  padding: 0%;
  margin-bottom: 10%;
}

.interface-overlay-wrapper .buyableItems {
  position: relative;
}

.interface-overlay-wrapper .buyableItems #playerOrange #devCardOrange {
  background-image: url("../gameAssetsOfficial/devCardOrange.png");
  background-repeat: no-repeat;
  position: relative;
  /* left: 1255px;
              top: 350px; */
  width: 42px;
  min-height: 50px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerOrange #roadOrange {
  background-image: url("../gameAssetsOfficial/roadOrange.png");
  background-repeat: no-repeat;
  position: relative;
  top: 5vh;
  width: 65px;
  min-height: 13px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerOrange #settleOrange {
  background-image: url("../gameAssetsOfficial/settlementOrange.png");
  background-repeat: no-repeat;
  position: relative;
  top: 5vh;
  width: 55px;
  min-height: 53px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerOrange #cityOrange {
  background-image: url("../gameAssetsOfficial/cityOrange.png");
  background-repeat: no-repeat;
  position: relative;
  width: 57px;
  min-height: 71px;
  z-index: 135;
}

.interface-overlay-wrapper .buyableItems #playerWhite #devCardWhite {
  background-image: url("../gameAssetsOfficial/devCardWhite.png");
  background-repeat: no-repeat;
  position: relative;
  width: 42px;
  min-height: 50px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerWhite #roadWhite {
  background-image: url("../gameAssetsOfficial/roadWhite.png");
  background-repeat: no-repeat;
  position: relative;
  width: 65px;
  min-height: 13px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerWhite #settleWhite {
  background-image: url("../gameAssetsOfficial/settlementWhite.png");
  background-repeat: no-repeat;
  position: relative;
  width: 55px;
  min-height: 53px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerWhite #cityWhite {
  background-image: url("../gameAssetsOfficial/cityWhite.png");
  background-repeat: no-repeat;
  position: relative;
  width: 57px;
  min-height: 71px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerRed #devCardRed {
  background-image: url("../gameAssetsOfficial/devCardRed.png");
  background-repeat: no-repeat;
  position: relative;
  width: 42px;
  min-height: 50px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerRed #roadRed {
  background-image: url("../gameAssetsOfficial/roadRed.png");
  background-repeat: no-repeat;
  position: relative;
  width: 65px;
  min-height: 13px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerRed #settleRed {
  background-image: url("../gameAssetsOfficial/settlementRed.png");
  background-repeat: no-repeat;
  position: relative;
  width: 55px;
  min-height: 53px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerRed #cityRed {
  background-image: url("../gameAssetsOfficial/cityRed.png");
  background-repeat: no-repeat;
  position: relative;
  width: 57px;
  min-height: 71px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerBlue #devCardBlue {
  background-image: url("../gameAssetsOfficial/devCardBlue.png");
  background-repeat: no-repeat;
  position: relative;
  width: 42px;
  min-height: 50px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerBlue #roadBLue {
  background-image: url("../gameAssetsOfficial/roadBLue.png");
  background-repeat: no-repeat;
  position: relative;
  width: 65px;
  min-height: 13px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerBlue #settleBlue {
  background-image: url("../gameAssetsOfficial/settlementBlue.png");
  background-repeat: no-repeat;
  position: relative;
  width: 55px;
  min-height: 53px;
  z-index: 1100;
}

.interface-overlay-wrapper .buyableItems #playerBlue #cityBlue {
  background-image: url("../gameAssetsOfficial/cityBlue.png");
  background-repeat: no-repeat;
  position: relative;
  width: 57px;
  min-height: 71px;
  z-index: 1100;
  border: none;
}

.interface-overlay-wrapper .buyableItems #left {
  font-size: 20px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 2;
  text-align: right;
  position: relative;
  height: 16px;
  z-index: 500;
}

.interface-overlay-wrapper .buyableItems #citiesLeft {
  font-size: 30px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: relative;
  /* left: 1328.062px;
                top: 195.08px; */
  z-index: 500;
}

.interface-overlay-wrapper .buyableItems #settlementsLeft {
  font-size: 30px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: relative;
  /* left: 1328.062px;
                top: 250.08px; */
  z-index: 500;
}

.interface-overlay-wrapper .buyableItems #roadsLeft {
  font-size: 30px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: relative;
  /* left: 1325px;
                top: 306.08px; */
  z-index: 500;
  border: none;
}

.interface-overlay-wrapper .buyableItems #devCardTotal {
  font-size: 35px;
  font-family: "Arial Rounded MT Bold";
  color: #eae3e2;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: relative;
  /* left: 1328.062px;
                top: 367.08px; */
  z-index: 500;
}

.interface-overlay-wrapper .cityMarket {
  position: relative;
  left: 0px;
  z-index: 1100;
}

.interface-overlay-wrapper .settlementMarket {
  position: relative;
  left: 0px;
  z-index: 1100;
}

.interface-overlay-wrapper .roadMarket {
  position: relative;
  left: 0px;
  z-index: 1100;
}

.interface-overlay-wrapper .devCardMarket {
  position: relative;
  left: 0px;
  z-index: 1100;
}

/* end interface-overlay-wrapper */
/* end Market interface */
#island_Dice_Numbers {
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0px;
  width: auto;
  min-height: auto;
  z-index: 53;
}

.scoreCard {
  position: relative;
  min-width: 71.25px;
  max-width: 37.5px;
  padding-bottom: 0px;
  top: 90%;
  left: 0px;
  padding-top: 0%;
  background-color: #cec3c3;
  -webkit-box-shadow: #eae3e2;
          box-shadow: #eae3e2;
  border: none;
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.scoreCard p {
  min-width: 71.25px;
  max-width: 37.5px;
  top: 0px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  left: 0px;
  top: 0px;
  font-size: 1.5em;
  font-family: "Courier";
  color: #000000;
  line-height: 0.583;
  text-align: center;
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.61);
  position: relative;
  z-index: 1;
  /* top: 0px;
      left: 8px; */
}

/* end scoreCard */
.largestArmyLongestRoad {
  position: relative;
  left: 200px;
  top: 200px;
  padding: 0px;
  z-index: 1000;
}

.largestArmyLongestRoad .Longest_Road {
  background-image: url("../gameAssetsOfficial/Longest Road.png");
  background-repeat: no-repeat;
  position: relative;
  width: auto;
  z-index: 1000;
}

.largestArmyLongestRoad .Largest_Army {
  background-image: url("../gameAssetsOfficial/Biggest Army.png");
  background-repeat: no-repeat;
  position: relative;
  left: 110px;
  top: 310px;
  width: auto;
  z-index: 1000;
}

#island_hexes {
  position: absolute;
  left: 0px;
  top: 16px;
  z-index: 28;
}
/*# sourceMappingURL=relativeAssets.css.map */