$woodTile: "gameAssetsOfficial/wood1.png";
$sheepTile: "gameAssetsOfficial/sheep1.png";
$wheatTile: "gameAssetsOfficial/wheat1.png";
$oreTile: "gameAssetsOfficial/ore1.png";
$brickTile: "gameAssetsOfficial/brick1.png";
$desertTile: "gameAssetsOfficial/desert1.png";

/* city placeholder asset*/
$cityTemplatePawn: "gameAssetsOfficial/cityTemplatePawn.png";
/* settlement pawn asset*/
$settlementTemplatePawn: "gameAssetsOfficial/settlementTemplatePawn.png";
/* 3 different road assets (vertical and both slopes) */
$roadTemplatePawnVert: "gameAssetsOfficial/roadTemplatePawnVert.png";
$roadTemplatePawn-hL-lR: "gameAssetsOfficial/roadTemplatePawn-hL-lR.png";
$roadTemplatePawn-lL-hR: "gameAssetsOfficial/roadTemplatePawn-lL-hR.png";

/* z-index for road,city and settlement assets */
$setZ: 402; /* for cosmetic purposes only: placed settlements above cities */
$cityZ: 401;
$rodZ: 400; /* roads look best when placed an index under the other pawns */

/* hexPlaceholder */
$hexPlaceholder_Z-index: 1;

/* index of All cards (highest items) */
$allCards: 500;

$pcMinWidth: 500px/* 1366px */;
$pcMinHeight: 500px/* 768px */;

/* $viewportWidth: 200px;
$viewportHeight: 100vh; */

$tileWidth : 147px;
$tileHeight: 170px;







/* #shuffleButton2 {
  text-align: center;

  width: 170px;
  height: $tileHeight;
background-color: blue;
color: yellow;
font-size: 25px;;
} */




.tileContainer {
  position: absolute;
left: -15px;

  /* .tilePlaceholder {


  } */
  /* tilePlaceholder */

  

  /* All tiles will be set to "visible after shuffling is done"*/


#tp_A {

  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 44px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_B {
  

  background-repeat: no-repeat;
  position: absolute;
  left: 627px;
  top: 44px;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_C {
  

  background-repeat: no-repeat;
  position: absolute;
  left: 781px;
  top: 42px;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_D {

/*    background-image: url($woodTile);
 */ 
 /* background-size: 400px;  background-color: grey;
 */

   background-repeat: no-repeat;
  position: absolute;
  left: 393px;
  top: 176px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_E {


  background-repeat: no-repeat;
  position: absolute;
  left: 547px;
  top: 176px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_F {

  background-repeat: no-repeat;
  position: absolute;
  left: 703px;
  top: 176px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_G {
  /*   background-image: url($woodTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: 859px;
  top: 176px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_H {

  background-repeat: no-repeat;
  position: absolute;
  left: 316px;
  top: 308px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_I {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 308px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_J {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 626px;
  top: 308px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_K {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 781px;
  top: 308px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_L {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 936px;
  top: 308px;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_M {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 393px;
  top: 441px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_N {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 548px;
  top: 441px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_O {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 703px;
  top: 441px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_P {
  /*   background-image: url($brickTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: 859px;
  top: 441px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_Q {
  /*    background-image: url($brickTile);
  */
  background-repeat: no-repeat;
  position: absolute;
  left: 470px;
  top: 573px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_R {

  background-repeat: no-repeat;
  position: absolute;
  left: 626px;
  top: 573px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_S {
  /*   background-image: url($desertTile);
 */

  background-repeat: no-repeat;
  position: relative;
  left: 781px;
  top: 573px;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
  border: none;
}


}/* tileContainer */






#island_hexes {
  position: absolute;
  left: 0px;
  top: 300px;
  
  /* min-width: 1407px;
  min-height: 802px; */
  z-index: 100;

  #sheep1 {
    /* background-image:url($sheepTile); */
  width:148px;
height: 170px;

}

  
  #sheep2 {
  width:148px;
  height: 170px;
  
  /* background-image:url($sheepTile); */
  

}
 
  
  #sheep3 {
  width:148px;
  height: 170px;
  
  /* background-image:url($sheepTile); */
  

}
  
  
  #sheep4 {
  width:148px;
  height: 170px;
  
  /* background-image:url($sheepTile); */
  

}
  
  
  #wood1 {
  width:148px;
  height: 170px;
  
  /* background-image:url($woodTile); */
  

}
  
  
  #wood2 {
  width:148px;
  height: 170px;
  
  /* background-image:url($woodTile); */
  

}
  
  
  #wood3 {
  width:148px;
  height: 170px;
  
  /* background-image:url($woodTile); */      
  

}
  
  
  #wood4 {
  width:148px;
  height: 170px;
  
  /* background-image:url($woodTile); */      
 

}
  
  
  #wheat1 {
  width:148px;
  height: 170px;
  
  /* background-image:url($wheatTile); */     
  

}
  
  
  #wheat2 {
  width:148px;
  height: 170px;
  
  /* background-image:url($wheatTile); */     
 

}
 
  
  #wheat3 {
  width:148px;
  height: 170px;
  
  /* background-image:url($wheatTile); */     
 

}
 
  
  #wheat4 {
  width:148px;
  height: 170px;
  
  /* background-image:url($wheatTile); */     
 

}
  
  
  #brick1 {
  width:148px;
  height: 170px;
  
  background-image:url($brickTile);     
  

}
  
  
  #brick2 {
  width:148px;
  height: 170px;
  
  background-image:url($brickTile);     
 

}
  
  
  #brick3 {
  
  
  background-image:url($brickTile);     
  width:148px;
height: 170px;

}
  
  
  #ore1 {
  width:148px;
  height: 170px;
  
  /* background-image:url($oreTile); */     
  

}

#ore2 {
  width:148px;
  height: 170px;
  
  /* background-image:url($oreTile); */     
  

}
  

#ore3 {
  width:148px;
  height: 170px;
  
  /* background-image:url($oreTile); */     
  

}
  
  
  
  #desert1 {
  
/*   background-image:url($desertTile);
 */ 
  width:148px;
  height: 170px;
 

}
}
/* end island_hexes */

.allPawnsPhParent {
  position: absolute;
  top: 10px;
  left: 275px;
  
}
/* allPawnsPhParent */

/* Below: Height of placeholder pawns
Height is measured from top */
$fLow: 682px;
/* subtract 30px; */
$fHigh: 652px;
/* subtract 10px; */

$eLow: 562px;
/* subtract 40px; */
$eHigh: 522px;
/* subtract 10px; */

$dLow: 432px;
/* subtract 40px; */
$dHigh: 390px;

/* subtract 10px; */
$cLow: 303px;
/* subtract 40px; */
$cHigh: 265px;

$bLow: 172px; /* expected 255 ?*/
$bHigh: 124px;

$aLow: 40px;
/* subtract 40px; */
$aHigh: 0px;


