$woodTile: "gameAssetsOfficial/wood1.png";
$sheepTile: "gameAssetsOfficial/sheep1.png";
$wheatTile: "gameAssetsOfficial/wheat1.png";
$oreTile: "gameAssetsOfficial/ore1.png";
$brickTile: "gameAssetsOfficial/brick1.png";
$desertTile: "gameAssetsOfficial/desert1.png";

/* city placeholder asset*/
$cityTemplatePawn: "gameAssetsOfficial/cityTemplatePawn.png";
/* settlement pawn asset*/
$settlementTemplatePawn: "gameAssetsOfficial/settlementTemplatePawn.png";
/* 3 different road assets (vertical and both slopes) */
$roadTemplatePawnVert: "gameAssetsOfficial/roadTemplatePawnVert.png";
$roadTemplatePawn-hL-lR: "gameAssetsOfficial/roadTemplatePawn-hL-lR.png";
$roadTemplatePawn-lL-hR: "gameAssetsOfficial/roadTemplatePawn-lL-hR.png";

/* z-index for road,city and settlement assets */
$setZ: 402; /* for cosmetic purposes only: placed settlements above cities */
$cityZ: 401;
$rodZ: 400; /* roads look best when placed an index under the other pawns */

/* hexPlaceholder */
$hexPlaceholder_Z-index: 2;


/* $viewportWidth: 200px;
$viewportHeight: 100vh; */

$tileWidth : 147px;
$tileHeight: 170px;


    //property used on: top
    $row1: 24px ;
    $row2: 156px;
    $row3: 288px;
    $row4: 421px;
    $row5: 553px;

  //property used on: left
    $column1: 06px   ;
    $column2: 83px  ;
    $column3: 160px ;
    $column4: 238px ;
    $column5: 316px ;
    $column6: 393px ;
    $column7: 471px ;
    $column8: 547px ;
    $column9: 626px ;




    #tradeShips {
      position:absolute; 
      z-index: $tradeShip_index;
    
     } 
    
     #any3_1A {
      background-image: url("../gameAssetsOfficial/any3_1A.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 954px;
      top: 1px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
    }
    
    #any3_1B {
      background-image: url("../gameAssetsOfficial/any3_1B.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 971px;
      top: 1px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
      border: none;
    }
    
    #any3_1C {
      background-image: url("../gameAssetsOfficial/any3_1C.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 993px;
      top: 1px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
      border: none;
    }
    
    #any3_1D {
      background-image: url("../gameAssetsOfficial/any3_1D.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 1011px;
      top: 1px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
      border: none;
    }
    
    #brick_2_1 {
      background-image: url("../gameAssetsOfficial/brick-2_1.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 983px;
      top: 73px;
      width: 125px;
      min-height: 85px;
      z-index: 85;
      border: none;
    }
    
    #ore_2_1 {
      background-image: url("../gameAssetsOfficial/ore-2_1.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 990px;
      top: 73px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
      border: none;
    }
    
    #sheep_2_1 {
      background-image: url("../gameAssetsOfficial/sheep-2_1.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 997px;
      top: 73px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
      border: none;
    }
    
    #wood_2_1 {
      background-image: url("../gameAssetsOfficial/wood-2_1.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 1004px;
      top: 73px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
      border: none;
    }
    
    #wheat_2_1 {
      background-image: url("../gameAssetsOfficial/wheat-2_1.png");
      background-repeat: no-repeat;
    /*   position: absolute;
     */  left: 1011px;
      top: 73px;
      width: 125px;
      min-height: 85px;
      z-index: $tradeShip_index;
      border: none;
    }
    


/* #shuffleButton2 {
  text-align: center;

  width: $tileHeight;
  height: $tileHeight;
background-color: blue;
color: yellow;
font-size: 25px;;
} */




.tileContainer {
  /* position: fixed */
/* left:   -15px;
 */
 

 z-index: $hexPlaceholder_Z-index;


  /* .tilePlaceholder {


  } */
  /* tilePlaceholder */

  

  /* All tiles will be set to "visible after shuffling is done"*/


#tp_A {

  background-repeat: no-repeat;
  position: absolute;
  left: $column3;
  top: $row1;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_B {
  

  background-repeat: no-repeat;
  position: absolute;
  left: $column5;
  top: $row1;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_C {
  

  background-repeat: no-repeat;
  position: absolute;
  left: $column7;
  top: $row1;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_D {

/*    background-image: url($woodTile);
 */ 
 /* background-size: 400px;  background-color: grey;
 */

   background-repeat: no-repeat;
  position: absolute;
  left: $column2;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_E {


  background-repeat: no-repeat;
  position: absolute;
  left: $column4;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_F {

  background-repeat: no-repeat;
  position: absolute;
  left: $column6;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_G {
  /*   background-image: url($woodTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: $column8;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_H {

  background-repeat: no-repeat;
  position: absolute;
  left: $column1;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_I {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column3;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_J {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column5;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_K {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column7;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_L {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column9;
  top: $row3;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_M {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column2;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_N {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column4;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_O {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column6;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_P {
  /*   background-image: url($brickTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column8;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_Q {
  /*    background-image: url($brickTile);
  */
  background-repeat: no-repeat;
  position: absolute;
  left: $column3;
  top: $row5;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_R {

  background-repeat: no-repeat;
  position: absolute;
  left: $column5;
  top: $row5;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_S {
  /*   background-image: url($desertTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column7;
  top: $row5;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
  border: none;
}


}/* tileContainer */
