$seventy:         73px;
$fiftyseven:      $seventy;
$nineteen:        19px;

 
 $setWidth:       $fiftyseven; /* valuename=pixels */
 $setHeight:      $seventy;
 $citHeight:      $seventy;
 $citWidth:       $fiftyseven;
 $roadVertHeight: $nineteen;
 $roadVertWidth:  $seventy;

 $nodeAHigh: 0px;
  $nodeALow:  30px; 
  $nodeBHigh: 120px;
  $nodeBLow:  160px; 

  $nodeCHigh: 240px;
  $nodeCLow:  300px;
  $nodeDHigh: 400px; //
  $nodeDLow:  420px;

  $nodeEHigh: 500px;
  $nodeELow:  560px;
  $nodeFHigh: 650px;  
  $nodeFLow:  680px;
