@use "sass:map";

//Width
 //Portrait
   $phone-Portrait-Width:      375px;//iphone7portraitwidth
   $tablet-Portrait-Width:     600px;
 //Landscape
   $phone-Landscape-Width:     667px;/* iphone7landscapewidth */
   $M-Screen-Width :          1024px;
   $L-Screen-Width :          1200px;//macbookwidth
   $XL-Screen-Width:          1800px;
/*    $fourK-Width: 4096px:*/

  //Height
//Portrait
   $phone-Portrait-Height:   667px;//iphone7portraitheight
//Landscape
   $S-Screen-Height:         667px;
   $phone-Landscape-Height:  375px;
   $M-Screen-Width:          768px;
   $L-Screen-Height:         800px;//macbookheight
   $XL-Screen-Height:       1200px;




   $windsize: (
       phone-Portrait-Width:  $phone-Portrait-Width,
       tablet-Portrait-Width: $tablet-Portrait-Width,
       phone-Landscape-Width: $phone-Landscape-Width,
       M-Screen-Width :       $M-Screen-Width,
       L-Screen-Width :       $L-Screen-Width,
       XL-Screen-Width:       $XL-Screen-Width
   );
/*    @debug map.get($windsize, "phone-Portrait-Width"); // 500
 */


   @mixin respond-to($windsize_demo) {
   @if map-has-key($windsize, $windsize_demo) {
   @media (min-width: #{map-get($windsize, $windsize_demo)}) {
   @content;
   }
   }
   @else {
   @warn "There is no value retrieved from `#{$windsize_demo}`. "
   + "Please check whether it is defined in `$windsize` map.";
   };
   };
   
   $font-weights: ("regular": 400, "medium": 500, "bold": 700);
   
   @debug map.get($font-weights, "medium"); // 500
   
   @debug map.set($font-weights, "extra-bold", 900);
   
   


  /* @mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) 
      { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) 
      { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) 
      { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) 
      { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) 
      { @content; }
    }
  } */


//Portrait Mobile First
/* 
   @mixin media($phone-Portrait-Width)  {
   @media screen and (max-width: $phone-Portrait-Width) and (orientation: portrait) {
    $oceanWidth: $phone-Portrait-Width;
    $oceanHeight: $phone-Portrait-Height;
    

    width: $oceanWidth;
    height: $oceanHeight;
    max-height: $oceanHeight;
    background-size: $oceanWidth $oceanHeight;
    background-repeat: no-repeat;
    z-index: 0;


    @content;
   }
  } */

  /* //Smallest Landscape (just in case) 
  @mixin media($S-Screen-Width) {

    @media screen and (min-width: $S-Screen-Width) and (orientation: landscape) {
     $oceanWidth: $S-Screen-Width;
     $oceanHeight: $S-Screen-Height;
     
     $islandWidth: $oceanWidth / 3; 
     $islandHeight: $oceanHeight / 3;
     //for "left" position
     $islandMiddleWidth: $oceanWidth / 2 - $islandWidth / 2;
     //for "top" position
     $islandMiddleHeight: $oceanHeight / 2 - $islandHeight / 1.5;
     $sideGutters: $oceanWidth / 10;
 


     
  }
     
     @content;
    }
   
  */

//iphone 7 in Landscape
@mixin media($phone-Portrait-Width) {

   @media screen and (min-width: $phone-Portrait-Width) and (orientation: landscape) {
    $oceanWidth: $phone-Landscape-Width;
    $oceanHeight: $phone-Landscape-Height;

    $myBreakpoint: $phone-Portrait-Width;

  $vertRoadWidth: 19 / 839 * $myBreakpoint;
  $vertRoadHeight: 70 / 756 * $myBreakpoint;

  $setlWidth: 54 / 839 * $myBreakpoint;
  $setlHeight: 53 / 756 * $myBreakpoint;

  $cityWidth: 57 / 839 * $myBreakpoint;
  $cityHeight: 70 / 756 * $myBreakpoint;

  $diag-road-width: 67 / 839 * $myBreakpoint;
  $diag-road-height: 45 / 756 * $myBreakpoint;

  //HEIGHT of NODES
  $nodeAHigh: 0 / 756 * $myBreakpoint; //   0vh;
  $nodeALow: 30 / 756 * $myBreakpoint; //  30;
  $nodeBHigh: 120 / 756 * $myBreakpoint; // 120;
  $nodeBLow: 160 / 756 * $myBreakpoint; // 160;

  $nodeCHigh: 240 / 756 * $myBreakpoint; // 240;
  $nodeCLow: 300 / 756 * $myBreakpoint; // 300;
  $nodeDHigh: 400 / 756 * $myBreakpoint; // 400;
  $nodeDLow: 420 / 756 * $myBreakpoint; // 420;

  $nodeEHigh: 500 / 756 * $myBreakpoint; // 500;
  $nodeELow: 540 / 756 * $myBreakpoint; // 540;
  $nodeFHigh: 650 / 756 * $myBreakpoint; // 650;
  $nodeFLow: 680 / 756 * $myBreakpoint; // 680;

  //HEIGHT Hypo ROADS
  $road-A-hypo-Height: 34 / 756 * $myBreakpoint;
  $road-B-hypo-Height: 167 / 756 * $myBreakpoint;
  $road-C-hypo-Height: 300 / 756 * $myBreakpoint;
  $road-D-hypo-Height: 428 / 756 * $myBreakpoint;
  $road-E-hypo-Height: 547 / 756 * $myBreakpoint;
  $road-F-hypo-Height: 686 / 756 * $myBreakpoint;

  //HEIGHT VERT ROADS
  $road-BA-vert-Height: 79 / 756 * $myBreakpoint;
  $road-CB-vert-Height: 212 / 756 * $myBreakpoint;
  $road-DC-vert-Height: 347 / 756 * $myBreakpoint;
  $road-ED-vert-Height: 447 / 756 * $myBreakpoint;
  $road-FE-vert-Height: 608 / 756 * $myBreakpoint;

  //LEFT POSITION NODES;
  //hypo equals diagonal road (hypotenuse)
  $left-vert1: 0 / 839 * $myBreakpoint;
  $left-hypo1: 25 / 839 * $myBreakpoint;
  $left-vert2: 74 / 839 * $myBreakpoint;
  $left-hypo2: 103 / 839 * $myBreakpoint;
  $left-vert3: 159 / 839 * $myBreakpoint;
  $left-hypo3: 183 / 839 * $myBreakpoint;
  $left-vert4: 229 / 839 * $myBreakpoint;
  $left-hypo4: 261 / 839 * $myBreakpoint;
  $left-vert5: 302 / 839 * $myBreakpoint;
  $left-hypo5: 337 / 839 * $myBreakpoint;
  $left-vert6: 385 / 839 * $myBreakpoint;
  $left-hypo6: 415 / 839 * $myBreakpoint;
  $left-vert7: 470 / 839 * $myBreakpoint;
  $left-hypo7: 487 / 839 * $myBreakpoint;
  $left-vert8: 536 / 839 * $myBreakpoint;
  $left-hypo8: 565 / 839 * $myBreakpoint;
  $left-vert9: 608 / 839 * $myBreakpoint;
  $left-hypo9: 643 / 839 * $myBreakpoint;
  $left-vert10: 692 / 839 * $myBreakpoint;
  $left-hypo10: 722 / 839 * $myBreakpoint;
  $left-vert11: 782 / 839 * $myBreakpoint;
    
    

    
    @content;
   }
  }

  
  @mixin media($M-Screen-Width) {

   @media screen and (min-width: $M-Screen-Width) {
    $oceanWidth: $M-Screen-Width;
    $oceanHeight: $M-Screen-Height;


    $myBreakpoint: $M-Screen-Width;

  $vertRoadWidth: 19 / 839 * $myBreakpoint;
  $vertRoadHeight: 70 / 756 * $myBreakpoint;

  $setlWidth: 54 / 839 * $myBreakpoint;
  $setlHeight: 53 / 756 * $myBreakpoint;

  $cityWidth: 57 / 839 * $myBreakpoint;
  $cityHeight: 70 / 756 * $myBreakpoint;

  $diag-road-width: 67 / 839 * $myBreakpoint;
  $diag-road-height: 45 / 756 * $myBreakpoint;

  //HEIGHT of NODES
  $nodeAHigh: 0 / 756 * $myBreakpoint; //   0vh;
  $nodeALow: 30 / 756 * $myBreakpoint; //  30;
  $nodeBHigh: 120 / 756 * $myBreakpoint; // 120;
  $nodeBLow: 160 / 756 * $myBreakpoint; // 160;

  $nodeCHigh: 240 / 756 * $myBreakpoint; // 240;
  $nodeCLow: 300 / 756 * $myBreakpoint; // 300;
  $nodeDHigh: 400 / 756 * $myBreakpoint; // 400;
  $nodeDLow: 420 / 756 * $myBreakpoint; // 420;

  $nodeEHigh: 500 / 756 * $myBreakpoint; // 500;
  $nodeELow: 540 / 756 * $myBreakpoint; // 540;
  $nodeFHigh: 650 / 756 * $myBreakpoint; // 650;
  $nodeFLow: 680 / 756 * $myBreakpoint; // 680;

  //HEIGHT Hypo ROADS
  $road-A-hypo-Height: 34 / 756 * $myBreakpoint;
  $road-B-hypo-Height: 167 / 756 * $myBreakpoint;
  $road-C-hypo-Height: 300 / 756 * $myBreakpoint;
  $road-D-hypo-Height: 428 / 756 * $myBreakpoint;
  $road-E-hypo-Height: 547 / 756 * $myBreakpoint;
  $road-F-hypo-Height: 686 / 756 * $myBreakpoint;

  //HEIGHT VERT ROADS
  $road-BA-vert-Height: 79 / 756 * $myBreakpoint;
  $road-CB-vert-Height: 212 / 756 * $myBreakpoint;
  $road-DC-vert-Height: 347 / 756 * $myBreakpoint;
  $road-ED-vert-Height: 447 / 756 * $myBreakpoint;
  $road-FE-vert-Height: 608 / 756 * $myBreakpoint;

  //LEFT POSITION NODES;
  //hypo equals diagonal road (hypotenuse)
  $left-vert1: 0 / 839 * $myBreakpoint;
  $left-hypo1: 25 / 839 * $myBreakpoint;
  $left-vert2: 74 / 839 * $myBreakpoint;
  $left-hypo2: 103 / 839 * $myBreakpoint;
  $left-vert3: 159 / 839 * $myBreakpoint;
  $left-hypo3: 183 / 839 * $myBreakpoint;
  $left-vert4: 229 / 839 * $myBreakpoint;
  $left-hypo4: 261 / 839 * $myBreakpoint;
  $left-vert5: 302 / 839 * $myBreakpoint;
  $left-hypo5: 337 / 839 * $myBreakpoint;
  $left-vert6: 385 / 839 * $myBreakpoint;
  $left-hypo6: 415 / 839 * $myBreakpoint;
  $left-vert7: 470 / 839 * $myBreakpoint;
  $left-hypo7: 487 / 839 * $myBreakpoint;
  $left-vert8: 536 / 839 * $myBreakpoint;
  $left-hypo8: 565 / 839 * $myBreakpoint;
  $left-vert9: 608 / 839 * $myBreakpoint;
  $left-hypo9: 643 / 839 * $myBreakpoint;
  $left-vert10: 692 / 839 * $myBreakpoint;
  $left-hypo10: 722 / 839 * $myBreakpoint;
  $left-vert11: 782 / 839 * $myBreakpoint;
    
    


    @content;
   }
  }

  @mixin media($L-Screen-Width) {

   @media screen and (min-width: $L-Screen-Width) {
    $oceanWidth: $L-Screen-Width;
    $oceanHeight: $L-Screen-Height;
   
    $myBreakpoint: $L-Screen-Width;

    $vertRoadWidth: 19 / 839 * $myBreakpoint;
    $vertRoadHeight: 70 / 756 * $myBreakpoint;
  
    $setlWidth: 54 / 839 * $myBreakpoint;
    $setlHeight: 53 / 756 * $myBreakpoint;
  
    $cityWidth: 57 / 839 * $myBreakpoint;
    $cityHeight: 70 / 756 * $myBreakpoint;
  
    $diag-road-width: 67 / 839 * $myBreakpoint;
    $diag-road-height: 45 / 756 * $myBreakpoint;
  
    //HEIGHT of NODES
    $nodeAHigh: 0 / 756 * $myBreakpoint; //   0vh;
    $nodeALow: 30 / 756 * $myBreakpoint; //  30;
    $nodeBHigh: 120 / 756 * $myBreakpoint; // 120;
    $nodeBLow: 160 / 756 * $myBreakpoint; // 160;
  
    $nodeCHigh: 240 / 756 * $myBreakpoint; // 240;
    $nodeCLow: 300 / 756 * $myBreakpoint; // 300;
    $nodeDHigh: 400 / 756 * $myBreakpoint; // 400;
    $nodeDLow: 420 / 756 * $myBreakpoint; // 420;
  
    $nodeEHigh: 500 / 756 * $myBreakpoint; // 500;
    $nodeELow: 540 / 756 * $myBreakpoint; // 540;
    $nodeFHigh: 650 / 756 * $myBreakpoint; // 650;
    $nodeFLow: 680 / 756 * $myBreakpoint; // 680;
  
    //HEIGHT Hypo ROADS
    $road-A-hypo-Height: 34 / 756 * $myBreakpoint;
    $road-B-hypo-Height: 167 / 756 * $myBreakpoint;
    $road-C-hypo-Height: 300 / 756 * $myBreakpoint;
    $road-D-hypo-Height: 428 / 756 * $myBreakpoint;
    $road-E-hypo-Height: 547 / 756 * $myBreakpoint;
    $road-F-hypo-Height: 686 / 756 * $myBreakpoint;
  
    //HEIGHT VERT ROADS
    $road-BA-vert-Height: 79 / 756 * $myBreakpoint;
    $road-CB-vert-Height: 212 / 756 * $myBreakpoint;
    $road-DC-vert-Height: 347 / 756 * $myBreakpoint;
    $road-ED-vert-Height: 447 / 756 * $myBreakpoint;
    $road-FE-vert-Height: 608 / 756 * $myBreakpoint;
  
    //LEFT POSITION NODES;
    //hypo equals diagonal road (hypotenuse)
    $left-vert1: 0 / 839 * $myBreakpoint;
    $left-hypo1: 25 / 839 * $myBreakpoint;
    $left-vert2: 74 / 839 * $myBreakpoint;
    $left-hypo2: 103 / 839 * $myBreakpoint;
    $left-vert3: 159 / 839 * $myBreakpoint;
    $left-hypo3: 183 / 839 * $myBreakpoint;
    $left-vert4: 229 / 839 * $myBreakpoint;
    $left-hypo4: 261 / 839 * $myBreakpoint;
    $left-vert5: 302 / 839 * $myBreakpoint;
    $left-hypo5: 337 / 839 * $myBreakpoint;
    $left-vert6: 385 / 839 * $myBreakpoint;
    $left-hypo6: 415 / 839 * $myBreakpoint;
    $left-vert7: 470 / 839 * $myBreakpoint;
    $left-hypo7: 487 / 839 * $myBreakpoint;
    $left-vert8: 536 / 839 * $myBreakpoint;
    $left-hypo8: 565 / 839 * $myBreakpoint;
    $left-vert9: 608 / 839 * $myBreakpoint;
    $left-hypo9: 643 / 839 * $myBreakpoint;
    $left-vert10: 692 / 839 * $myBreakpoint;
    $left-hypo10: 722 / 839 * $myBreakpoint;
    $left-vert11: 782 / 839 * $myBreakpoint;
    


    @content;
   }
  }

  @mixin media($XL-Screen-Width) {

    @media screen and (min-width: $XL-Screen-Width) {
      $oceanWidth: $XL-Screen-Width;
    $oceanHeight: $XL-Screen-Height;
    
    $myBreakpoint: $XL-Screen-Width;

    $vertRoadWidth: 19 / 839 * $myBreakpoint;
    $vertRoadHeight: 70 / 756 * $myBreakpoint;
  
    $setlWidth: 54 / 839 * $myBreakpoint;
    $setlHeight: 53 / 756 * $myBreakpoint;
  
    $cityWidth: 57 / 839 * $myBreakpoint;
    $cityHeight: 70 / 756 * $myBreakpoint;
  
    $diag-road-width: 67 / 839 * $myBreakpoint;
    $diag-road-height: 45 / 756 * $myBreakpoint;
  
    //HEIGHT of NODES
    $nodeAHigh: 0 / 756 * $myBreakpoint; //   0vh;
    $nodeALow: 30 / 756 * $myBreakpoint; //  30;
    $nodeBHigh: 120 / 756 * $myBreakpoint; // 120;
    $nodeBLow: 160 / 756 * $myBreakpoint; // 160;
  
    $nodeCHigh: 240 / 756 * $myBreakpoint; // 240;
    $nodeCLow: 300 / 756 * $myBreakpoint; // 300;
    $nodeDHigh: 400 / 756 * $myBreakpoint; // 400;
    $nodeDLow: 420 / 756 * $myBreakpoint; // 420;
  
    $nodeEHigh: 500 / 756 * $myBreakpoint; // 500;
    $nodeELow: 540 / 756 * $myBreakpoint; // 540;
    $nodeFHigh: 650 / 756 * $myBreakpoint; // 650;
    $nodeFLow: 680 / 756 * $myBreakpoint; // 680;
  
    //HEIGHT Hypo ROADS
    $road-A-hypo-Height: 34 / 756 * $myBreakpoint;
    $road-B-hypo-Height: 167 / 756 * $myBreakpoint;
    $road-C-hypo-Height: 300 / 756 * $myBreakpoint;
    $road-D-hypo-Height: 428 / 756 * $myBreakpoint;
    $road-E-hypo-Height: 547 / 756 * $myBreakpoint;
    $road-F-hypo-Height: 686 / 756 * $myBreakpoint;
  
    //HEIGHT VERT ROADS
    $road-BA-vert-Height: 79 / 756 * $myBreakpoint;
    $road-CB-vert-Height: 212 / 756 * $myBreakpoint;
    $road-DC-vert-Height: 347 / 756 * $myBreakpoint;
    $road-ED-vert-Height: 447 / 756 * $myBreakpoint;
    $road-FE-vert-Height: 608 / 756 * $myBreakpoint;
  
    //LEFT POSITION NODES;
    //hypo equals diagonal road (hypotenuse)
    $left-vert1: 0 / 839 * $myBreakpoint;
    $left-hypo1: 25 / 839 * $myBreakpoint;
    $left-vert2: 74 / 839 * $myBreakpoint;
    $left-hypo2: 103 / 839 * $myBreakpoint;
    $left-vert3: 159 / 839 * $myBreakpoint;
    $left-hypo3: 183 / 839 * $myBreakpoint;
    $left-vert4: 229 / 839 * $myBreakpoint;
    $left-hypo4: 261 / 839 * $myBreakpoint;
    $left-vert5: 302 / 839 * $myBreakpoint;
    $left-hypo5: 337 / 839 * $myBreakpoint;
    $left-vert6: 385 / 839 * $myBreakpoint;
    $left-hypo6: 415 / 839 * $myBreakpoint;
    $left-vert7: 470 / 839 * $myBreakpoint;
    $left-hypo7: 487 / 839 * $myBreakpoint;
    $left-vert8: 536 / 839 * $myBreakpoint;
    $left-hypo8: 565 / 839 * $myBreakpoint;
    $left-vert9: 608 / 839 * $myBreakpoint;
    $left-hypo9: 643 / 839 * $myBreakpoint;
    $left-vert10: 692 / 839 * $myBreakpoint;
    $left-hypo10: 722 / 839 * $myBreakpoint;
    $left-vert11: 782 / 839 * $myBreakpoint;


    @content;
   }
  };

  



