@use './abstracts';
@use './coordinates/_pawncoordinates' as pawncoords;


$hexCoinSize: 39px;



.hexNumbers {
 top: 0px;
 left: 40px;
 font-size: 200%;
 text-align: center;

    $hexNumberzIndex: 500;

    

    //property used on: top
    $row1: 90px;
    $row2: 230px;
    $row3: 360px;
    $row4: 490px;
    $row5: 610px;

  //property used on: left
    $column1: 330px - 330px;
    $column2: 413px - 330px;
    $column3: 490px - 330px;
    $column4: 567px - 330px;
    $column5: 650px - 330px;
    $column6: 722px - 330px;
    $column7: 801px - 330px;
    $column8: 879px - 330px;
    $column9: 960px - 330px;
    
  
    #nA {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column3;
      top: $row1;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nB {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column5;
      top: $row1;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nC {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column7;
      top: $row1;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nD {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column2;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nE {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column4;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nF {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column6;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nG {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column8;
      top: $row2;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
     z-index: $hexNumberzIndex;
    }
  
    #nH {
      background-color: rgb(190, 192, 79);
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      border-radius: 33px;
      left: $column1;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nI {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column3;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nJ {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column5;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nK {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column7;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nL {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column9;
      top: $row3;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }


    #nM {
     background-color: rgb(190, 192, 79);;
     background-repeat: no-repeat;
     position: absolute;
border-radius: 33px;

      left: $column2; 
      top: $row4;  
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
      border: none;
  }

  #nN {
     background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

    left: $column4; 
    top: $row4;  
    width: $hexCoinSize;
    height: $hexCoinSize;
    background-size: $hexCoinSize $hexCoinSize;

    z-index: $hexNumberzIndex;
    border: none;
  }
  
    #nO {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column6;
      top: $row4;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nP {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column8;
      top: $row4;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nQ {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column3;
      top: $row5;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nR {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column5;
      top: $row5;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
    #nS {
       background-color: rgb(190, 192, 79);;
      background-repeat: no-repeat;
      position: absolute;
 border-radius: 33px;

      left: $column7;
      top: $row5;
      width: $hexCoinSize;
      height: $hexCoinSize;
background-size: $hexCoinSize $hexCoinSize;
      z-index: $hexNumberzIndex;
    }
  
  }