@use './abstracts' as *;
@use './abstracts/mediaqueries' as mq;
@use './coordinates/_pawncoordinates' as pawncoords;


/* @viewport { width: auto; }
@media (max-width: 600px) {
@viewport { width: 620px; }
}
 */

 $coastalColor: #246892;
 $seaColor: #1e5f88;
 $oceanColor: #052d85;

body  {
  background-color: $oceanColor;

}



#logHTML {
  bottom: 0px;
  background-color: lightgrey;
  color: black;
}

.imageOcean {
  $oceanWidth: 375px; //portrait mobile-first
  $oceanHeight: 667px; //portrait mobile-first
  $islandWidth: $oceanWidth / 3;
  $islandHeight: $oceanHeight / 3;
  //for "left" position
  $islandMiddleWidth: $oceanWidth / 2 - $islandWidth / 2;
  //for "top" position
  $islandMiddleHeight: $oceanHeight / 2 - $islandHeight / 1.5;
  $sideGutters: $oceanWidth / 10;

  

  position: relative;
  




  @include media($phone-Portrait-Width) {
    width: $phone-Portrait-Width;
    height: 667px;
  background-image: radial-gradient(
    $coastalColor 25%,
    $seaColor 45%,
    $oceanColor 80%
  
  );

};

  @include media($phone-Landscape-Width) {
    width: $phone-Landscape-Width;
    height: 375px; /* $S-Screen-Width */

  background-image: radial-gradient(
    $coastalColor 25%,
    $seaColor 45%,
    $oceanColor 80%
  );
  };

  @include media($M-Screen-Width) {
    width: $M-Screen-Width;
    height: 1024px; /* $M-Screen-Width */

  background-image: radial-gradient(
    $coastalColor 25%,
    $seaColor 45%,
    $oceanColor 80%
  );
  };

  @include media($L-Screen-Width) {
    width: $L-Screen-Width;
    height: 800px;

  background-image: radial-gradient(
    $coastalColor 25%,
    $seaColor 45%,
    $oceanColor 80%
  );
  };

   @include media($XL-Screen-Width) {
    width: $XL-Screen-Width;
    height: 1200px;

  background-image: radial-gradient(
    $coastalColor 25%,
    $seaColor 45%,
    $oceanColor 80%
  );
   };



  

    .allPawnsPhParent {
 
    } 

  div.hexNumbers {
    /* 
        @include media($phone-Portrait-Width) ;
        @include media($S-Screen-Width      );
        @include media($M-Screen-Width      );
        @include media($L-Screen-Width      );
        @include media($XL-Screen-Width     );
         */

    /* margin: $sideGutters;
    position: fixed;
    top: -10px;
    left: 100px;
    width: $islandWidth;
    background-size: $islandWidth $islandHeight; */

    /*     left: $sideGutters;  
     */
  }

  /* .tileContainer { */

  /*  margin: $sideGutters;
    
        position: absolute;
        min-width: $islandWidth;
        max-width: $oceanWidth;
        min-height: $islandHeight;
        left: 50px;  
        background-size: $islandWidth $islandHeight;
        background-repeat: no-repeat; */

  /* } */

  /* .tradeShips {
       
        margin: $sideGutters;
        } */

} /* end imageOcean */



.interface-overlay-wrapper {
    background-color: orange;

    @include media($phone-Portrait-Width) {
        
        background-color: rgb(251, 255, 0);
    }

    @include media($phone-Landscape-Width) {
        background-color: rgb(223, 171, 58);
    
    }
      
    @include media($M-Screen-Width) {
        background-color: rgb(223, 124, 58);
    }
      
    @include media($L-Screen-Width) {
        background-color: rgb(223, 83, 58);
    }
      
    @include media($XL-Screen-Width) {
        background-color: rgb(231, 42, 42);
    }
          
  }

#imageIsland {
  background-image: url("../gameAssetsOfficial/islandBackdropCropped.png");

  @include media($phone-Portrait-Width) {
        
    background-color: rgb(251, 255, 0);
}

@include media($phone-Landscape-Width) {
    background-color: rgb(223, 171, 58);

}
  
@include media($M-Screen-Width) {
    background-color: rgb(223, 124, 58);
}
  
@include media($L-Screen-Width) {
    background-color: rgb(223, 83, 58);
}

@include media($XL-Screen-Width) {
  background-color: rgb(235, 41, 41);
}

}


.measuringBox {
  background-color: hotpink;
  position: absolute;
  top: 00px;
  width: 200px;
  height: 200px;
}
/* 
    First apply background cover   
    821 × 753 px
    for ratio in % : height / width * 100
    753 / 821 * 100 = 91% (almost square image as 100% is square)
    what we want to do is apply that percentage to padding-top (no height needed).
     z-index: 3;
}
 */

 .allPawnsPhParent {
  .allPlaceholdersPawn {
      



  }

}

/* 
  
.imageOcean {
    #imageIsland {

    }
    
    .hexNumbers {
position: absolute;
    }
    .tileContainer {

    }
    .tilePlaceholder {

    }
    .tradeShips {

    }
}
 */
