@use './abstracts' as abstracts;

/* @viewport { width: auto; }
@media (max-width: 600px) {
@viewport { width: 620px; }
}
 */



 $oceanHeight: 100vh;
 
 
 $islandWidth: 66.6vw/* 821px */;
 $islandHeight: 66.6vh /* 753px */;
 
 
 //for "left" position
 $islandMiddleWidth: abstracts.$oceanWidth / 2 - $islandWidth / 2;
 //for "top" position
 $islandMiddleHeight: $oceanHeight / 2 - $islandHeight / 2;
 

/* city placeholder asset*/
$cityTemplatePawn: "../gameAssetsOfficial/cityTemplatePawn.png";
/* settlement pawn asset*/
$settlementTemplatePawn: "../gameAssetsOfficial/settlementTemplatePawn.png";
/* 3 different road assets (vertical and both slopes) */
$roadTemplatePawnVert: "../gameAssetsOfficial/roadTemplatePawnVert.png";
$roadTemplatePawn-hL-lR: "../gameAssetsOfficial/roadTemplatePawn-hL-lR.png";
$roadTemplatePawn-lL-hR: "../gameAssetsOfficial/roadTemplatePawn-lL-hR.png";

/* testingInterface should always be highest */
$testingInterface: 1500;
 /* island backdrop cropped: 821 x 753 px 
 height/width = 91%
 width/height = 109%
 */
 

/* z-index for road,city and settlement assets */
$setZ: 3; /* for cosmetic purposes only: placed settlements above cities */
$cityZ: 3;
$rodZ: 3; /* roads look best when placed an index under the other pawns */

$seventy: 73px;
$fiftyfour: 57px;
$fiftyseven: $seventy;
$nineteen: 19px;

 
 $setWidth:       $fiftyseven; /* valuename=pixels */
 $setHeight:      $seventy;
 $citHeight:      $seventy;
 $citWidth:       $fiftyseven;
 $roadVertHeight: $nineteen;
 $roadVertWidth:  $seventy;


.allPawnsPhParent {
  width: 100vw;
}
    
  /* Below: Height of placeholder pawns
  Height is measured from top */
  /* 
  regular hexagon math
  radiusLength = diameter/2 = sideLength
  so where x is nodeletter
  hiLo = xHigh - xLow = sideLength / 2
  so hiLo = diameter / 4

if hex⌀ 120px 
hilo = 30px




  */
  // if hex⌀ 100px

  $aHigh: 0px;
  $aLow:  30px; 
  $bHigh: 120px;
  $bLow:  160px; 

  $cHigh: 240px;
  $cLow:  300px;
  $dHigh: 400px; //
  $dLow:  420px;

  $eHigh: 500px;
  $eLow:  560px;
  $fHigh: 650px;  
  $fLow:  680px;

  /* $diagonalSideLength: hypotenuse  */

 /* NEXT lateral distances
horizontal distance between adjacent xHigh-xLow
(example a1a2)
pythagore theorem 
function (xfar, xclose, yfar, yclose) {
$root of {xfar - xclose)squared + {yfar - yclose)squared}
@return 
}
*/
/* @function distanceBetween($xfar, $xclose, $yfar, $yclose) {
  
  $xfarsquared: $xfar * $xfar;
  $xclosesquared: $xclose * $xclose;
  $yfarsquared: $yfar * $yfar;
  $yclosesquared: $yclose * $yclose;
  $distanceInBetween: math.sqrt($xfarsquared - $xclosesquared) + ($yfarsquared - $yclosesquared);
  return {$distanceInBetween};
}; */


//property used on: left
/* 
vert1  0px
hypo1
vert2  74px
hypo2
vert3  148px
hypo3
vert4  px
hypo4
vert5  296px
hypo5
vert6  px
hypo6
vert7  px
hypo7
vert8  px
hypo8
vert9  592px
hypo9
vert10  px
hypo10
vert11  px (currently 
d11c11 = 
left: 782px;
top: 347px;)
*/

  


  
  .tilePlaceholder {
    background-repeat: no-repeat;
    
  }
  
  

  .setlNode {
    $setlPosTop: $citHeight - $setHeight;
    top: $setHeight;

    #setl_F4 {
      background-repeat: no-repeat;
        
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 382px;
        top: $fLow;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }


      #setl_F5 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 465px;
          top: $fHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_F7 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 607px;
          top: $fHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_F6 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 533px;
          top: $fLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_F1 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 158px;
          top: $fHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_F2 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 226px;
          top: $fLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_F3 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 314px;
          top: $fHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_E7 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 547px;
            top: $eHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E9 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 689px;
            top: $eHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E8 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 615px;
            top: $eLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E5 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 390px;
            top: $eHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E6 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 458px;
            top: $eLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E3 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 231px;
            top: $eHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E4 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 299px;
            top: $eLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E1 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 75px;
            top: $eHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_E2 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 143px;
            top: $eLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;


     }

     #setl_D1 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 1px;
        top: $dHigh;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D2 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 69px;
        top: $dLow;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D3 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 152px;
        top: $dHigh;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D4 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 220px;
        top: $dLow;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D5 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 311px;
        top: $dHigh;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D7 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 470px;
        top: $dHigh;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D8 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 538px;
        top: $dLow;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D9 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 620px;
        top: $dHigh;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D11 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 762px;
        top: $dHigh;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      } 
      #setl_D10 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 688px;
        top: $dLow;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }
      #setl_D6 {
      background-repeat: no-repeat;
        background-image: url($settlementTemplatePawn);
        position: absolute;
        left: 379px;
        top: $dLow;
        width:$seventy;
        height:$fiftyseven;
        z-index: $setZ;
      }

      #setl_C2 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 74px;
          top: $cHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C1 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 0px;
          top: $cLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C4 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 226px;
          top: $cHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C3 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 152px;
          top: $cLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C6 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 385px;
          top: $cHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C5 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 311px;
          top: $cLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C8 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 544px;
          top: $cHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C7 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 470px;
          top: $cLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C10 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 694px;
          top: $cHigh;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C9 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 620px;
          top: $cLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }
        #setl_C11 {
        background-repeat: no-repeat;
          background-image: url($settlementTemplatePawn);
          position: absolute;
          left: 762px;
          top: $cLow;
          width:$seventy;
          height:$fiftyseven;
          z-index: $setZ;
        }

        #setl_B9 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 688px;
            top: $bLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B8 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 605px;
            top: $bHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B7 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 531px;
            top: $bLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B6 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 459px;
            top: $bHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B5 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 385px;
            top: $bLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B4 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 302px;
            top: $bHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B3 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 228px;
            top: $bLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B2 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 156px;
            top: $bHigh;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }
          #setl_B1 {
          background-repeat: no-repeat;
            background-image: url($settlementTemplatePawn);
            position: absolute;
            left: 82px;
            top: $bLow;
            width:$seventy;
            height:$fiftyseven;
            z-index: $setZ;
          }

          #setl_A7 {
            background-repeat: no-repeat;
              background-image: url($settlementTemplatePawn);
              position: absolute;
              left: 606px;
              top: $aLow;
              width:$seventy;
              height:$fiftyseven;
              z-index: $setZ;
              
            }
            #setl_A2 {
            background-repeat: no-repeat;
              background-image: url($settlementTemplatePawn);
              position: absolute;
              left: 233px;
              top: $aHigh;
              width:$seventy;
              height:$fiftyseven;
              z-index: $setZ;
            }
            #setl_A1 {
            background-repeat: no-repeat;
              background-image: url($settlementTemplatePawn);
              position: absolute;
              left: 159px;
              top: $aLow;
              width:$seventy;
              height:$fiftyseven;
              z-index: $setZ;
              
            }
            #setl_A4 {
            background-repeat: no-repeat;
              background-image: url($settlementTemplatePawn);
              position: absolute;
              left: 387px;
              top: $aHigh;
              width:$seventy;
              height:$fiftyseven;
              z-index: $setZ;
            }
            #setl_A3 {
            background-repeat: no-repeat;
              background-image: url($settlementTemplatePawn);
              position: absolute;
              left: 313px;
              top: $aLow;
              width:$seventy;
              height:$fiftyseven;
              z-index: $setZ;
            }
            #setl_A6 {
            background-repeat: no-repeat;
              background-image: url($settlementTemplatePawn);
              position: absolute;
              left: 537px;
              top: $aHigh;
              width:$seventy;
              height:$fiftyseven;
              z-index: $setZ;
            }
            #setl_A5 {
            background-repeat: no-repeat;
              background-image: url($settlementTemplatePawn);
              position: absolute;
              left: 460px;
              top: $aLow;
              width:$seventy;
              height:$fiftyseven;
              z-index: $setZ;
            }

    }/* end .setlNode
 */


.cityNode {
  
  #city_F5 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 464px;
      top: $fHigh;
      width:$seventy;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F7 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 610px;
      top: $fHigh;
      width:$seventy;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F6 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 536px;
      top: $fLow;
      width:$seventy;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F1 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 157px;
      top: $fHigh;
      width:$seventy;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F2 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 229px;
      top: $fLow;
      width:$seventy;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F3 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 313px;
      top: $fHigh;
      width:$seventy;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_F4 {
    background-repeat: no-repeat;
      background-image: url($cityTemplatePawn);
      position: absolute;
      left: 385px;
      top: $fLow;
      width:$seventy;
      height:$seventy;
      z-index: $cityZ;
    }
    #city_E7 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 546px;
        top: $eHigh;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E9 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 692px;
        top: $eHigh;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E8 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 618px;
        top: $eLow;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E5 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 389px;
        top: $eHigh;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E6 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 461px;
        top: $eLow;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E3 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 230px;
        top: $eHigh;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E4 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 302px;
        top: $eLow;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E1 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 74px;
        top: $eHigh;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_E2 {
      background-repeat: no-repeat;
        background-image: url($cityTemplatePawn);
        position: absolute;
        left: 146px;
        top: $eLow;
        width:$seventy;
        height:$seventy;
        z-index: $cityZ;
      }
      #city_D1 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 0px;
          top: $dHigh;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D2 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 72px;
          top: $dLow;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D3 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 151px;
          top: $dHigh;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D4 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 223px;
          top: $dLow;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D5 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 310px;
          top: $dHigh;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D6 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 382px;
          top: $dLow;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D7 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 469px;
          top: $dHigh;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D8 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 541px;
          top: $dLow;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D9 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 619px;
          top: $dHigh;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D11 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 765px;
          top: $dHigh;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_D10 {
        background-repeat: no-repeat;
          background-image: url($cityTemplatePawn);
          position: absolute;
          left: 691px;
          top: $dLow;
          width:$seventy;
          height:$seventy;
          z-index: $cityZ;
        }
        #city_C1 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 0px;
            top: $cLow;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C4 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 225px;
            top: $cHigh;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C3 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 151px;
            top: $cLow;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C6 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 384px;
            top: $cHigh;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C5 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 310px;
            top: $cLow;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C8 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 543px;
            top: $cHigh;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C7 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 469px;
            top: $cLow;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C10 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 693px;
            top: 254px;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C9 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 619px;
            top: 292px;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C11 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 765px;
            top: 292px;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_C2 {
          background-repeat: no-repeat;
            background-image: url($cityTemplatePawn);
            position: absolute;
            left: 74px;
            top: 250px;
            width:$seventy;
            height:$seventy;
            z-index: $cityZ;
          }
          #city_B8 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 608px;
              top: $bHigh;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B7 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 534px;
              top: $bLow;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B9 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 689px;
              top: $bLow;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B6 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 459px;
              top: $bHigh;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B5 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 384px;
              top: $bLow;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B4 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 302px;
              top: $bHigh;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B3 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 227px;
              top: $bLow;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B2 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 155px;
              top: $bHigh;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_B1 {
            background-repeat: no-repeat;
              background-image: url($cityTemplatePawn);
              position: absolute;
              left: 81px;
              top: $bLow;
              width:$seventy;
              height:$seventy;
              z-index: $cityZ;
            }
            #city_A2 {
              background-repeat: no-repeat;
                background-image: url($cityTemplatePawn);
                position: absolute;
                left: 232px;
                top: $aHigh;
                width:$seventy;
                height:$fiftyseven;
                z-index: $cityZ;
              }
              #city_A1 {
              background-repeat: no-repeat;
                background-image: url($cityTemplatePawn);
                position: absolute;
                left: 158px;
                top: $aLow;
                width:$seventy;
                height:$seventy;
                z-index: $cityZ;
              }
              #city_A4 {
              background-repeat: no-repeat;
                background-image: url($cityTemplatePawn);
                position: absolute;
                left: 386px;
                top: $aHigh;
                width:$seventy;
                height: $seventy;
                z-index: $cityZ;
              }
              #city_A3 {
              background-repeat: no-repeat;
                background-image: url($cityTemplatePawn);
                position: absolute;
                left: 312px;
                top: $aLow;
                width:$seventy;
                height:$seventy;
                z-index: $cityZ;
              }
              #city_A5 {
              background-repeat: no-repeat;
                background-image: url($cityTemplatePawn);
                position: absolute;
                left: 458px;
                top: $aLow;
                width:$seventy;
                height:$seventy;
                z-index: $cityZ;
              }
              #city_A6 {
              background-repeat: no-repeat;
                background-image: url($cityTemplatePawn);
                position: absolute;
                left: 536px;
                top: $aHigh;
                width:$seventy;
                height:$seventy;
                z-index: $cityZ;
              }
              #city_A7 {
              background-repeat: no-repeat;
                background-image: url($cityTemplatePawn);
                position: absolute;
                left: 608px;
                top: $aLow;
                width:$seventy;
                height:$seventy;
                z-index: $cityZ;
              }
}
    
.allRoads {
    #f7e8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 627px;
      top: 608px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f5e6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 479px;
      top: 608px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f6f7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 571px;
      top: 688px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #f5f6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 490px;
      top: 687px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #f1e2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 172px;
      top: 607px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f2f3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 264px;
      top: 687px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #f1f2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 183px;
      top: 686px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #f3e4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 328px;
      top: 606px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #f4f5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 420px;
      top: 686px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #f3f4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 339px;
      top: 685px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #e6e7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 496px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #e5e6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 415px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    
    
    
    #e9d10 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 709px;
      top: 475px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e7d8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 561px;
      top: 475px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e8e9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 653px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #e7e8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 572px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #e5d6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 404px;
      top: 479px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e3d4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 245px;
      top: 477px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e4e5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 337px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #e3e4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 256px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #e1d2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 89px;
      top: 477px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #e2e3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 181px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #e1e2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 100px;
      top: 547px;      
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d9d10 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 645px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
   
    
    #d1d2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 26px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d1c1 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 15px;
      top:  347px ;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d2d3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 107px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d3c3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 166px;
      top: 347px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d4d5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 258px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d3d4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 177px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d5c5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 325px;
      top: 347px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d6d7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 417px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d5d6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 336px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d7c7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 484px;
      top: 347px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d8d9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* lL-hR */
      position: absolute;
      left: 576px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d7d8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 495px;
      top: 428px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #d11c11 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 782px;
      top: 347px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d9c9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 634px;
      top: 347px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #d10d11 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /*lL-hR*/
      position: absolute;
      left: 726px;
      top: 429px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    
    
    #c10b9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 706px;
      top: 212px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #c8b7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 555px;
      top: 210px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c6b5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 399px;
      top: 210px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c4b3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 242px;
      top: 210px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c2b1 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 96px;
      top: 214px;
      width:$nineteen;
      height:$seventy;
      z-index: $setZ;
    }
    #c1c2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 25px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c2c3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 103px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c3c4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 176px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c4c5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 254px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c5c6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 335px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c6c7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 413px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c7c8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 494px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c8c9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 572px;
      top: 298px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
  
    #c9c10 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 644px;
      top: $cLow;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #c10c11 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 722px;
      top: $cLow;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    
    
    #b8a7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 625px;
      top: 79px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b2a1 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 173px;
      top: 79px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b4a3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 327px;
      top: 81px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b6a5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawnVert); /* vertical */
      position: absolute;
      left: 477px;
      top: 79px;
      width:$nineteen;
      height:$seventy;
      z-index: $rodZ;
    }
    #b7b8 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 565px;
      top: 163px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #b8b9 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 643px;
      top: 163px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #b5b6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 409px;
      top: 163px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #b6b7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 487px;
      top: 163px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #b3b4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 252px;
      top: 163px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #b4b5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 330px;
      top: 163px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #b1b2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 106px;
      top: 167px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    #b2b3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 184px;
      top: 167px;
      width: $seventy;
      height: $seventy;
      z-index: $rodZ;
    }
    
    
    #a1a2 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 183px;
      top: 32px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #a2a3 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 261px;
      top: 32px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #a3a4 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 337px;
      top: 34px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #a4a5 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 415px;
      top: 34px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #a5a6 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-lL-hR); /* hL-hR */
      position: absolute;
      left: 487px;
      top: 32px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    #a6a7 {
    background-repeat: no-repeat;
      background-image: url($roadTemplatePawn-hL-lR); /* hL-lR */
      position: absolute;
      left: 565px;
      top: 30px;
      width: $seventy;
      height: $seventy;
      z-index: $setZ;
    }
    
  }/* end Road */

    




.allPawnsPhParent {
  position: absolute;
  /* left: $islandMiddleWidth;
  top: $islandMiddleHeight;
width: $islandWidth;
max-height: $islandHeight;
padding-top: $oceanHeight; */

}



