
@use './coordinates/tscoordinates' as tscoords;
@use './abstracts/mediaqueries' as mq;
@use "sass:map";
/* can also write ' as * '  to forego namescaping */


/* city placeholder asset*/
$cityTemplatePawn: "gameAssetsOfficial/cityTemplatePawn.png";
/* settlement pawn asset*/
$settlementTemplatePawn: "gameAssetsOfficial/settlementTemplatePawn.png";
/* 3 different road assets (vertical and both slopes) */
$roadTemplatePawnVert: "gameAssetsOfficial/roadTemplatePawnVert.png";
$roadTemplatePawn-hL-lR: "gameAssetsOfficial/roadTemplatePawn-hL-lR.png";
$roadTemplatePawn-lL-hR: "gameAssetsOfficial/roadTemplatePawn-lL-hR.png";

/* z-index for road,city and settlement assets */
$setZ: 402; /* for cosmetic purposes only: placed settlements above cities */
$cityZ: 401;
$rodZ: 400; /* roads look best when placed an index under the other pawns */

/* hexPlaceholder */
$hexPlaceholder_Z-index: 2;
$tradeShip_index: 3;







/* $viewportWidth: 200px;
$viewportHeight: 100vh; */

$tileWidth : 147px;
$tileHeight: 170px;


    //property used on: top
    $row1: 24px ;
    $row2: 156px;
    $row3: 288px;
    $row4: 421px;
    $row5: 553px;

  //property used on: left
    $column1: 6px   ;
    $column2: 83px  ;
    $column3: 160px ;
    $column4: 238px ;
    $column5: 316px ;
    $column6: 393px ;
    $column7: 471px ;
    $column8: 547px ;
    $column9: 626px ;


.tradeShips {
position: absolute;

     
    #ts1 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      position: absolute;
      left: $column9 + tscoords.$tradeShip_width;
      top: $row1 + tscoords.$tradeShip_height / 2;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }
    
    
    
    #ts3 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      position: absolute;
      left: $column9 + $tileWidth * 1.6;
      top: $row3;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }
    
    #ts4 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      position: absolute;
      left: $column9 + tscoords.$tradeShip_width;
      top: $row4 + tscoords.$tradeShip_height * 2;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }
   
    
    #ts6 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      position: absolute;
      left: $column5 + tscoords.$tradeShip_width ;
      top: $row5 + tscoords.$tradeShip_height * 2;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }
    
    #ts7 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      position: absolute;
      left: $column3;
      top: $row5 + tscoords.$tradeShip_height * 2;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }

    #ts8 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      position: absolute;
      left: $column2 - tscoords.$tradeShip_width / 2;
      top: $row4 + tscoords.$tradeShip_height / 2;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }

    #ts10 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      position: absolute;
      left: $column2 - tscoords.$tradeShip_width / 2;
      top: $row2;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }
    
    
    #ts11 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
     position: absolute;
     left: $column3;
      top: $row1 - tscoords.$tradeShip_height * 1.15;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }


    #ts12 {
      background-image: url('../gameAssetsOfficial/tradeshipPlaceholder.png'); 
background-size: tscoords.$tradeShip_width tscoords.$tradeShip_height;
      background-repeat: no-repeat;
      position: absolute;
      left: $column5 + tscoords.$tradeShip_width;
      top: $row1 - tscoords.$tradeShip_height * 1.2;
      width: tscoords.$tradeShip_width;
      height: tscoords.$tradeShip_height;
      z-index: $tradeShip_index;
    }

    }


/* #shuffleButton2 {
  text-align: center;

  width: $tileHeight;
  height: $tileHeight;
background-color: blue;
color: yellow;
font-size: 25px;;
} */




.tileContainer {
  /* position: fixed */
/* left:   -15px;
 */
 

 z-index: $hexPlaceholder_Z-index;


  /* .tilePlaceholder {


  } */
  /* tilePlaceholder */

  

  /* All tiles will be set to "visible after shuffling is done"*/


#tp_A {

  background-repeat: no-repeat;
  position: absolute;
  left: $column3;
  top: $row1;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_B {
  

  background-repeat: no-repeat;
  position: absolute;
  left: $column5;
  top: $row1;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_C {
  

  background-repeat: no-repeat;
  position: absolute;
  left: $column7;
  top: $row1;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_D {

/*    background-image: url($woodTile);
 */ 
 /* background-size: 400px;  background-color: grey;
 */

   background-repeat: no-repeat;
  position: absolute;
  left: $column2;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_E {


  background-repeat: no-repeat;
  position: absolute;
  left: $column4;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_F {

  background-repeat: no-repeat;
  position: absolute;
  left: $column6;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_G {
  /*   background-image: url($woodTile);
 */
  background-repeat: no-repeat;
  position: absolute;
  left: $column8;
  top: $row2;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_H {

  background-repeat: no-repeat;
  position: absolute;
  left: $column1;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_I {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column3;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_J {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column5;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_K {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column7;
  top: $row3;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_L {
  /*   background-image: url($wheatTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column9;
  top: $row3;
  min-width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_M {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column2;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_N {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column4;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_O {
  /*   background-image: url($oreTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column6;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_P {
  /*   background-image: url($brickTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column8;
  top: $row4;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_Q {
  /*    background-image: url($brickTile);
  */
  background-repeat: no-repeat;
  position: absolute;
  left: $column3;
  top: $row5;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_R {

  background-repeat: no-repeat;
  position: absolute;
  left: $column5;
  top: $row5;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
}

#tp_S {
  /*   background-image: url($desertTile);
 */

  background-repeat: no-repeat;
  position: absolute;
  left: $column7;
  top: $row5;
width: $tileWidth ;
  height: $tileHeight;
  z-index: $hexPlaceholder_Z-index;
  border: none;
}


}/* tileContainer */
