
@use "sass:math";

//FIGURE OUT CENTRALIZED Breakpoint
/* $myBreakpoint: 375px;
 */  

$tradeShip_width: 125px;
$tradeShip_height: 85px;


/*
islandBackdropCropped has
821 x 753
total horizontaldocks = 45
total verticaldocks = 43

total pawnPlaceholders 
islandBackdropCropped - (vertical + horizontal docks)
821 - 45 = 776w
753 - 43 = 710h

so once all calculations will be made for placeholders
we will apply this
ratiopawnPhtoIsland * 710/776

this also means that if 
    $diag-road-width: 67;
and that if along the whole width there 10 
diagonal roads
then roughly 776 / 10 should be 67 which it isnt (77.6)
because the roads are not meeting directly (nodes width overlap)

likewise vertical division by road is complicated 
as we have both vertical and diagonal roads
however we can work backwards from and addition of the roads
*/