/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
 */
/*  100px  */
/* 1000px  */
/* z-index for road,city and settlement assets */
/* for cosmetic purposes only: placed settlements above cities */
/* roads look best when placed an index under the other pawns */
/* testingInterface should always be highest */
/* market */
/* ColorHands */
/* index of All cards (highest items after testing buttons) */
/* testingInterface should always be highest */
/* Max */
/* Safe */
/* Min */
/* 
.row {

} */
html {
  display: -ms-grid;
  display: grid;
}

header {
  background-color: khaki;
}

/* 
body {
  

} */
/* body */
.absoluteAssets {
  /*  #tradeShips */
}

.absoluteAssets .islandWater {
  background-color: slategray;
  background-image: radial-gradient(#246892 25%, #1e5f88 45%, #052d85 80%);
  background-repeat: no-repeat;
  background-size: 1458px 968px;
  max-width: 1458px;
  max-height: 968px;
}

.absoluteAssets #imageIsland {
  opacity: 100%;
  background-image: url("/gameAssetsOfficial/islandBackdropCropped.png");
  position: absolute;
  top: 0px;
  left: 0px;
}

.absoluteAssets #any3_1A {
  background-image: url("gameAssetsOfficial/any3_1A.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 954px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 89;
}

.absoluteAssets #any3_1B {
  background-image: url("gameAssetsOfficial/any3_1B.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 971px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 88;
  border: none;
}

.absoluteAssets #any3_1C {
  background-image: url("gameAssetsOfficial/any3_1C.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 993px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 87;
  border: none;
}

.absoluteAssets #any3_1D {
  background-image: url("gameAssetsOfficial/any3_1D.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1011px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 86;
  border: none;
}

.absoluteAssets #brick_2_1 {
  background-image: url("gameAssetsOfficial/brick-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 983px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 85;
  border: none;
}

.absoluteAssets #ore_2_1 {
  background-image: url("gameAssetsOfficial/ore-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 990px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 84;
  border: none;
}

.absoluteAssets #sheep_2_1 {
  background-image: url("gameAssetsOfficial/sheep-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 997px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 83;
  border: none;
}

.absoluteAssets #wood_2_1 {
  background-image: url("gameAssetsOfficial/wood-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1004px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 82;
  border: none;
}

.absoluteAssets #wheat_2_1 {
  background-image: url("gameAssetsOfficial/wheat-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1011px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 81;
  border: none;
}

.absoluteAssets #currentPlayerTimerClock {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 50%;
  min-height: 50%;
  z-index: 79;
}

.absoluteAssets #timerArrow {
  background-color: #643f0f;
  position: absolute;
  left: 1156px;
  top: 21px;
  width: 11px;
  min-height: 33px;
  z-index: 78;
}

.absoluteAssets #timerBG {
  background-image: url("gameAssetsOfficial/timerBG.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1120px;
  top: 0px;
  width: 84px;
  min-height: 84px;
  z-index: 77;
}

.absoluteAssets #Ellipse {
  border-width: 9.56px;
  border-color: #eae2e2;
  border-style: solid;
  border-radius: 50%;
  background-color: #e3d55d;
  position: absolute;
  left: 1125px;
  top: 6px;
  width: 72.88px;
  min-height: 72.88px;
  z-index: 76;
  border: none;
}

.absoluteAssets #robber {
  background-image: url("gameAssetsOfficial/robber.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 808px;
  top: 596px;
  width: 71px;
  min-height: 111px;
  z-index: 550;
  border: none;
}

/* end absoluteAssets */
/*# sourceMappingURL=styleAssets.css.map */