/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
 */


/*  100px  */$bottomRightCorner_left: 100px; //only for $chbu
/* 1000px  */$bottomRightCorner_top: 100px; 


$woodTile: "gameAssetsOfficial/wood1.png";
$sheepTile: "gameAssetsOfficial/sheep1.png";
$wheatTile: "gameAssetsOfficial/wheat1.png";
$oreTile: "gameAssetsOfficial/ore1.png";
$brickTile: "gameAssetsOfficial/brick1.png";
$desertTile: "gameAssetsOfficial/desert1.png";


/* z-index for road,city and settlement assets */
$setZ: 402; /* for cosmetic purposes only: placed settlements above cities */
$cityZ: 401;
$rodZ: 400; /* roads look best when placed an index under the other pawns */

/* testingInterface should always be highest */
$testingInterface: 1500;


/* market */
$leftCounters: 1289px;

/* ColorHands */
$cHBUWidth: 418px;
$cHBUHeight: 308px;
$cHBULeft: 1040px;
$cHBUTop: 660px;

$allDevCard_Width: 101px;

/* index of All cards (highest items after testing buttons) */

$robberIndex: 550;
$cHBUzIndex: 1000;
$bstIndex: 1001;
$allCards_index: 1002;
$playerMarket: 1100;
/* testingInterface should always be highest */
$testingInterface: 1500;

/* Max */
$totalMaxWidth: 1458px;
$totalMaxHeight: 968px;
/* Safe */
$safeTop: +10px;
$safeBottom: $totalMaxWidth - 10px;
/* Min */
$totalMinWidth: 50%;
$totalMinHeight: 50%;

$viewportWidth: $totalMinWidth;

$topAbs: 0px; //set to relative
$bottomAbs: $totalMaxHeight; //(value of Top:)set to relative
$leftAbs: 0px; //set to relative
$rightAbs: $totalMaxWidth; //(value of Left:)set to relative

/* 
.row {

} */

html {
  display: grid;
}

header {
  background-color: khaki;
}
/* 
body {
  

} */
/* body */

.absoluteAssets {
 

 .islandWater {
 
  background-color: slategray;

  $coastalColor: #246892;
  $seaColor: #1e5f88;
  $oceanColor: #052d85;

  background-image: radial-gradient(
    $coastalColor 25%,
    $seaColor 45%,
    $oceanColor 80%
  );

  background-repeat: no-repeat;
  background-size: $totalMaxWidth $totalMaxHeight;
  max-width: $totalMaxWidth;
  max-height: $totalMaxHeight;

} 

#imageIsland {
  opacity: 100%;
  background-image: url("/gameAssetsOfficial/islandBackdropCropped.png");
  position: absolute;

  top: 0px;
  left: 0px;
}




/*  #tradeShips */

#any3_1A {
  background-image: url("gameAssetsOfficial/any3_1A.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 954px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 89;
}

#any3_1B {
  background-image: url("gameAssetsOfficial/any3_1B.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 971px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 88;
  border: none;
}

#any3_1C {
  background-image: url("gameAssetsOfficial/any3_1C.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 993px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 87;
  border: none;
}

#any3_1D {
  background-image: url("gameAssetsOfficial/any3_1D.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1011px;
  top: 1px;
  width: 125px;
  min-height: 85px;
  z-index: 86;
  border: none;
}

#brick_2_1 {
  background-image: url("gameAssetsOfficial/brick-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 983px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 85;
  border: none;
}

#ore_2_1 {
  background-image: url("gameAssetsOfficial/ore-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 990px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 84;
  border: none;
}

#sheep_2_1 {
  background-image: url("gameAssetsOfficial/sheep-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 997px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 83;
  border: none;
}

#wood_2_1 {
  background-image: url("gameAssetsOfficial/wood-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1004px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 82;
  border: none;
}

#wheat_2_1 {
  background-image: url("gameAssetsOfficial/wheat-2_1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1011px;
  top: 73px;
  width: 125px;
  min-height: 85px;
  z-index: 81;
  border: none;
}

#currentPlayerTimerClock {
  position: absolute;
  left: 0px;
  top: $safeTop;
  width: $totalMinWidth;
  min-height: $totalMinHeight;
  z-index: 79;
}

#timerArrow {
  background-color: #643f0f;
  position: absolute;
  left: 1156px;
  top: 21px;
  width: 11px;
  min-height: 33px;
  z-index: 78;
}

#timerBG {
  background-image: url("gameAssetsOfficial/timerBG.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 1120px;
  top: 0px;
  width: 84px;
  min-height: 84px;
  z-index: 77;
}

#Ellipse {
  border-width: 9.56px;
  border-color: #eae2e2;
  border-style: solid;
  border-radius: 50%;
  background-color: #e3d55d;
  position: absolute;
  left: 1125px;
  top: 6px;
  width: 72.88px;
  min-height: 72.88px;
  z-index: 76;
  border: none;
}

#robber {
  background-image: url("gameAssetsOfficial/robber.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 808px;
  top: 596px;
  width: 71px;
  min-height: 111px;
  z-index: $robberIndex;
  border: none;
}



} /* end absoluteAssets */
