#start {
    text-align: center;
}

#score {
    text-align: center;
}
#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    background-image: url("images/backdrop.jpeg");
    background-size: cover;
}

#dino {
    height: 75px;
    width: 75px;
    position: relative;
    /*position will be subtracted from the top*/
    top: 225px;
    background-image: url("images/beetlejuice.png");
    background-size: cover;
}

#jumpButtonZone {
    height: 200px;
    width: 200px;
    margin-left: 30%;
    margin-right: 30%;
    top: 0%;
    
}


#rock {
    height: 50px;
    width: 50px;
    position: relative;
    top: 160px;
    left: 550px;
    background-image: url("images/rock.png");
    background-size: cover;
        /*animation will loop every 1.33s, indefintely*/
    animation: rock 2s infinite; 
}

@keyframes rock {
0%{left:550px;}
100%{left: -50px;}
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0%{top: 225px;}
    25%{top: 85px}
    50%{top: 75px;}
    75%{top: 95px;}
    100%{top: 225px;}
}

/*Scoreboard not within scope of tutorial*/
table, td {
    border: 1px solid black;
  }