//$variablename: value;


//testA
$sheepTile: green;
$woodTile: brown;
$brickTile: #670320;
$oreTile: grey;
$wheatTile: #606113;
$desertTile:#606113;
//associate css variable $colorTileX with JS variable assignedRandomTileX
//where X is the respective tile
$backdropGame: cornflowerblue;
//$colorTileB: green;


body {
background-color: $backdropGame;
}

svg {
//margin-left: 50%;
width: fit-content;
max-height: 50%;
}
#islandContainer {
     //viewBox in html>svg is what affects island size
opacity: 0;
-webkit-transition: opacity 3s ease-in-out;
-moz-transition: opacity 3s ease-in-out;
-ms-transition: opacity 3s ease-in-out;
-o-transition: opacity 3s ease-in-out;
transition: opacity 3s ease-in-out;
}

//Below we CREATE a fade CLASS (not in html)

body.fade {
opacity:0;
}
//seeing that islandContainer is 
    


     #idTileA{
fill: $colorTileA; /*should be someday be changed to a 
variable*/  
     }

     #idTileS{
          fill:pink;
     }


/* Tile arrangement: 4 players
p = Port
            p    p
             A--B--C p
          p D--E--F--G
           H--I--J--K--L p
          p  M--N--O--p
              Q--R--S  p
            p     p

*/

/*dice animation*/